[2020-05-12 12:21] nickmalleson opened #2 "Normalise flows"
When individuals are assigned to locations the flows should be normalised so that, for each individual, they sum to 1

[2020-05-12 12:23] nickmalleson opened #3 "Run through an entire simulation with dummy data for testing"

[2020-05-12 16:30] nickmalleson opened #4 "Save and reload state"
Allow to save the current state of the model (e.g. the individuals dataframe, locations dataframes, etc) and reload. Should make it possible to speed things up (don't need to reload and analyse raw text files) and good practice for repeatability.

[2020-05-14 03:59] nickmalleson commented on #4
Actually this is essential as we will need it to allow communication between the msm and the R disease model. It is a little complicated because the `feather` package (now `arrow`) does not allow import/export of columns with embedded data. So we will need to write out (and read in) separate files that show the locations where the indiviuals go and the flows (probabilities). Currently these are st

[2020-05-14 04:01] nickmalleson opened #5 "Implement unit tests"
There are lots of stubs in `test_microsim_model` that need writing

[2020-05-14 12:39] nickmalleson opened #6 "Include time-activity data"
Karyn provided national time-used data for the different activities. In lieu of more comprehensive time-use data, use these national numbers.

[2020-05-15 09:52] nickmalleson opened #7 "Sensitivity analysis"
Comprehensive assessment of sensitiviy to different parameters throughout the model

[2020-05-15 11:08] nickmalleson opened #8 "Distinguish between primary and secondary schools"
At the moment just have 'schools'. Will need different flows for primary and secondary.

[2020-05-15 11:10] nickmalleson opened #9 "Make different flows for different individuals / households"
At the moment all indivduals in an area share the same flows. These need to be broken down by individual characteristics. E.g. children of correct age go to primary/seconary school (adults will have no flows to secondary schools). I think we will need two activity locations, primary schools and secondary schools (at the moment just have 'schools')

[2020-05-15 12:04] nickmalleson commented on #3
This is working now. You can pass `./dummy_data` to the constructor and it will run on a subset of Devon schools and retail.

[2020-05-15 12:04] #3 closed

[2020-05-15 12:06] nickmalleson opened #10 "Test the model with dummy data"
There are some dummy data avialbale that can test the model. See `test_microsim()` and `test_step(test_microsim)` in `test_microsimulation_model.py`. Now need to write some tests/checks to make sure that population that is created and stepped correctly

[2020-05-15 16:24] nickmalleson opened #11 "Include 'time spent doing activities'"
Read 'time activity' data (dummy for now) to add columns for how people spend doing activities. I.e. `Microsim.attach_time_use_data` function

[2020-05-15 16:26] nickmalleson opened #12 "Add Home locations (same as Retail,School, etc)"
Already have household data from the microsim. Turn this into a 'Location' dataset in a simliar way to Retail. Note: all flows will be 100% to one Location (where ID == HID)

[code]

[2020-05-15 16:27] nickmalleson opened #13 "Write function to automatically add columns etc. to Location data"
This will ensure that they are created equally, have the same columns (e.g. 'x_Flows', 'x_Venues') and can do some error checking

[2020-05-15 16:29] nickmalleson opened #14 "Formalise column names for locations"
At the moment I have hard coded columns like 'x_Flows', 'x_Venues', (where x = 'Retail', 'School', etc.). Define these strings formally somewhere e.g. in the `ColumnNames` class.

[2020-05-15 16:31] nickmalleson opened #15 "Use Google Mobility data to change time use behaviour after lockdown"
Prelimiary lockdown scenario is just to adjust all  time use for all people to be roughly equivalent to the changes observed in Google Mobility Reports (prior to doing something more neuanced). Do https://github.com/Urban-Analytics/RAMP-UA/issues/16 first.

[2020-05-15 16:33] nickmalleson opened #16 "Implement pre- and post-lockdown stages"
Edit `step()` so that the model runs for 2 weeks in 'pre-lockdown' mode then for 2 weeks in 'post-lockdown' mode. After lockdown then use mobility data to esimate changes in time use (see https://github.com/Urban-Analytics/RAMP-UA/issues/15)

[2020-05-15 16:37] nickmalleson opened #17 "Implement commuting behaviour"
Occupation / Industry will be provided by Karyn. Then check individual's occupations and assign all individuals who do the same occupation to the same 'Location' (i.e. similar to them all going to the same Retail venue).

[2020-05-17 10:35] nickmalleson commented on #14
Added these to the `ColumnNames` class and removed use of hard-coded strings throughout:

[code]

[2020-05-17 10:35] #14 closed

[2020-05-17 10:56] nickmalleson commented on #13
Created `_add_location_columns` function to add the required columns (ID, Name, Danger)

[2020-05-17 10:56] #13 closed

[2020-05-17 19:20] nickmalleson commented on #12
Did this. Only tricky bit was finding index (row number) of an individual's house given its HID.

[2020-05-17 19:20] #12 closed

[2020-05-17 21:11] nickmalleson commented on #11
Added some dummy data (e.g. 8 hours working, etc) in `attach_time_use_data` function

[2020-05-17 21:11] #11 closed

[2020-05-17 21:13] nickmalleson opened #18 "Calculate location danger properly"
- Implement danger emparted onto locations properly. Should be a function of disease status, proprtion of flows to loction, proportion of time spent doing activity. See `update_venue_danger`

[2020-05-17 21:14] nickmalleson commented on #6
Duplicate of https://github.com/Urban-Analytics/RAMP-UA/issues/11

[2020-05-17 21:14] #6 closed

[2020-05-18 17:57] nickmalleson commented on #2
Done in https://github.com/Urban-Analytics/RAMP-UA/commit/28be18c433b113de668716b0bfaef3fb37d4630d

[2020-05-18 17:57] #2 closed

[2020-05-19 06:17] nickmalleson commented on #8
Did this in https://github.com/Urban-Analytics/RAMP-UA/commit/8c97477d3e0eb65db8b2972784d4084367ae682e

[2020-05-19 06:17] #8 closed

[2020-05-19 16:43] nickmalleson opened #19 "Integrate new health and time use data."
Karyn has made new data for Devon. Read these and attach them to the existing individuals.

[2020-05-19 19:40] nickmalleson opened #20 "Add commuting"
Assign 'virtual' commuting locations for each individual based on occupation. I.e. all accountants go to one virtual account office etc.

[2020-05-20 06:15] nickmalleson commented on #19
Read the data in and assigned activity durations https://github.com/Urban-Analytics/RAMP-UA/commit/7d6c6c189ed82a8bc073dd4b585a3583da4c14f7

Now after discussion with Karyn I need to re-calculate PIDs based on area, hid, and pid

[2020-05-21 05:19] nickmalleson opened #21 "Update current risk"
Implement `update_current_risk` function

[2020-05-21 05:21] nickmalleson opened #22 "Implement update_disease_counts"

[2020-05-21 08:30] nickmalleson commented on #22
Done in https://github.com/Urban-Analytics/RAMP-UA/commit/0ee2abdd8070732f7fb90085ae5066ca21cc1957

[2020-05-21 08:30] #22 closed

[2020-05-21 16:00] nickmalleson opened #23 "Check add_home_flows"
Test it, but especially it uses 'HID' which I don't think uniquely identifies a house any more

[2020-05-23 12:27] nickmalleson commented on #19
Read the data and assign households (see https://github.com/Urban-Analytics/RAMP-UA/commit/a05d7d718b91dd2eb090552ae1b0eac8ecc67fdc).

Still need to map activities from the dataframe to standardised olumn names

[2020-05-23 12:35] nickmalleson commented on #19
Correctly assigned flows to home (just the indivual's houseID in a list) https://github.com/Urban-Analytics/RAMP-UA/commit/c77b4cb8e554b3be8d91b6881701a61ee036580a

[2020-05-24 13:31] nickmalleson commented on #19
Still need to assign time use, but home locations and home activities are correct

[2020-05-24 13:31] #19 closed

[2020-05-24 13:53] nickmalleson commented on #23
This was done when integrating the new time use & health data (https://github.com/Urban-Analytics/RAMP-UA/issues/19)

[2020-05-24 13:53] #23 closed

[2020-05-24 14:57] nickmalleson opened #24 "Separate primary and secondary school durations"
Need to separate primary and secondary school duration. At the moment everyone is given the same duration, 'pschool', which means that children will be assigned a PrimarySchool duration *and*  seconary school duration, regardless of their age.

I think the only way round this is to make two new columns - 'pschool_primary' and 'pschool_seconary', and set these to either 'pschool' or 0 depending on

[2020-05-24 15:07] nickmalleson opened #25 "Check venues, flows, durations"
Check that the dummy data have been read in correctly. E.g. check the number of individuals is
accurate, that they link to households correctly, that they have the right *flows* to the right
*destinations* and the right *durations* etc.

Do this in ```test_microsim()```

[2020-05-25 05:14] nickmalleson opened #26 "Check new comments in `Microsim.__init__()`"
I added a big explanation about how to add activies. Could you read through the stuff in `Microsim.__init_()` to see if it makes sense? If someone else was to help us with the code, do you think the process is clear enough?

[2020-05-25 05:14] nickmalleson commented on #21
Mostly finished this in https://github.com/Urban-Analytics/RAMP-UA/commit/b5e6c592beb1c6f54cdba7bd588d92c849b0399b Now need to test

[2020-05-25 06:56] nickmalleson commented on #21
WIll do proper tests next but this seems fine.

[2020-05-25 06:56] #21 closed

[2020-05-25 14:52] nickmalleson commented on #10
Did this in https://github.com/Urban-Analytics/RAMP-UA/commit/bade854473f3a9d697160c7d007f12dee387badf

[2020-05-25 14:52] #10 closed

[2020-05-25 14:54] nickmalleson opened #27 "Correct all tests"
After the extensive changes to the code most of the tests don't work now. I think the problems are:

1 - the `test_microsim` object gets manipulated by a number of different functions which will interferre with each other. maybe need to copy it first?

2 - some of the fields (e.g. PID, HID) are not longer present int he dataframe, and some of the individuals will have changed (e.g. not the same pe

[2020-05-27 16:18] nickmalleson commented on #27
https://github.com/Urban-Analytics/RAMP-UA/commit/67e165ce7913344a5e58b606a9cc3de780bac794

[2020-05-27 16:18] #27 closed

[2020-05-27 16:19] nickmalleson commented on #25
https://github.com/Urban-Analytics/RAMP-UA/commit/bade854473f3a9d697160c7d007f12dee387badf

[2020-05-27 16:19] #25 closed

[2020-05-27 16:20] nickmalleson commented on #18
https://github.com/Urban-Analytics/RAMP-UA/commit/b5e6c592beb1c6f54cdba7bd588d92c849b0399b

[2020-05-27 16:20] #18 closed

[2020-05-27 16:21] nickmalleson commented on #20
@nnelissen  did this, I just checked and made minor changes in https://github.com/Urban-Analytics/RAMP-UA/commit/262e5f13cc4393bc0e9439ce38d799188ad07e51

[2020-05-27 16:21] #20 closed

[2020-05-27 16:21] nickmalleson commented on #17
@nnelissen  did this, I just checked and made minor changes in https://github.com/Urban-Analytics/RAMP-UA/commit/262e5f13cc4393bc0e9439ce38d799188ad07e51

[2020-05-27 16:21] #17 closed

[2020-05-27 16:22] #9 closed

[2020-05-27 16:24] nickmalleson commented on #5
Have partly done this. Could do with improving but I'lll close this for now

[2020-05-27 16:24] #5 closed

[2020-06-08 16:13] nickmalleson opened #35 "(minor) Create function for writing data for visulaisation"
In `microsim_model.py` around line 1378 I think there is some code that looks a bit repetitative, could this be put into a function?

[2020-06-11 05:49] nickmalleson opened #37 "Tidy the `_check_study_area` and `_check_no_homeless` functions"
These are weird because they assume old column names are present (e..g PID and HID rather than ID and House_ID), which means they cannot be run once the TU&H data have been attached and the column names change.

[2020-06-11 06:46] nickmalleson opened #38 "Implement `(deep)copy` properly"
At the moment there is a` Microsim._make_a_copy` function that resets the random seed and then calls `copy.deepcopy`. Implement this properly by overridding `__deepcopy__`

[2020-06-11 08:02] nickmalleson opened #39 "Document problem with janitor library"
It's an R library we need. But can't be installed with the  rest through `conda install r-janitor`. So needs to be installed manually using R `install.packages('janotor')`

[2020-06-11 08:16] nnelissen commented on #26
This has been added to the Jupyter notebook documentation.

[2020-06-11 08:16] #26 closed

[2020-06-11 08:27] nnelissen commented on #39
It's also on conda-forge `conda install -c conda-forge r-janitor`

[2020-06-11 08:54] nickmalleson commented on #39
Oh yeah! thanks, I just included that and updated the environment file https://github.com/Urban-Analytics/RAMP-UA/commit/747c6cf17d66c421e98fbef371f0e12c52b01722

[2020-06-11 08:54] #39 closed

[2020-06-15 14:53] nickmalleson commented on #38
There are other things to think about too. E.g. a copy will need it's own R process instance.

[2020-06-15 14:54] nickmalleson opened #40 "Fix problem with allocating proportion of time to schools properly"
At the moment `pschool` makes people go to primary _and_ secondary school. Need to adjust appropriately according to age.

[2020-06-15 15:01] nickmalleson opened #41 "Make a workbook to show how to interrogate the model results"
I.e. run the model for _n_ (small number) of iterations and then show how to show (e..g) who the most at risk individuals are, where they work, etc.

[2020-06-15 16:41] nickmalleson commented on #40
Done https://github.com/Urban-Analytics/RAMP-UA/commit/8060a95a43a382ab3ac3e273a27f4e0d25c43f03

[2020-06-15 16:41] #40 closed

[2020-06-17 11:53] nickmalleson opened #44 "Multiple output writing"
At the moment the model writes the pickle files after every step. See `microsim_model.py` around line 1421. Is this necessary? Could it just do it at the end?

[2020-06-17 13:43] nickmalleson commented on #44
Actually this is useful, lets leave it

[2020-06-17 13:43] #44 closed

[2020-06-18 10:26] nickmalleson opened #45 "Use git LFS to distrubute the data needed to run the model"

[2020-06-19 09:55] nickmalleson opened #48 "Run type inspection"
In pyCharm: `code -> inspect code`

[2020-06-29 15:58] nickmalleson opened #50 "Check parameters in `Microsim.__init__()`"
Currently in `microsim_model.run_script()` there are checks that the parameter combinations make sense. DO these in a function and also check the relevant ones in the `Microsim` constructor in case someone calls the constructor directly (rather than going through `run_script`.

[2020-07-09 11:16] nickmalleson opened #55 "Calibrate / validate across multiple data sets"
Rather than just calibrating against total cases, we should also look at distributions by age, over space, by workplace, etc. We might be able to get the absolute numbers of cases right, but need to make sure the right people are being infected in the right places as well.

[2020-07-09 11:16] #45 closed

[2020-07-09 11:17] #38 closed

[2020-07-09 11:17] nickmalleson commented on #37
No longer relevant now we don't read the msm data

[2020-07-09 11:17] #37 closed

[2020-07-09 11:17] #16 closed

[2020-07-09 11:17] #15 closed

[2020-07-16 15:51] Sparrow0hawk opened #59 "test_analysis.py file in tests/"
In the PR #56 I moved the file `test_analysis.py` into the tests/ directory.

This is the consistent cause of the test suite failing so i'm going to create an issue on this to keep track of what we're doing about it.

I've tagged in @nickmalleson and @nnelissen as i'd like your input on whether this file is a test file (and so we can update it to pass) or if its an artefact of when you were inform

[2020-07-17 07:19] nnelissen commented on #59
Let's remove it, it was misnamed and not a proper test. I'll work on an actual test file for the dashboard

[2020-07-28 16:49] Sparrow0hawk commented on #59
Closing this issue as resolved in 6b3c24f9a386edbdcee56ab3257fcf6787de17ee

[2020-07-28 16:49] #59 closed

[2020-07-29 20:17] nickmalleson opened #69 "Error in c("rampuaR", ) : argument 2 is empty"
Hi both,

I'm getting this error, any ideas? I think I'm missing a package, but am not sure which one. I have noticed that the following new packages have been added to `environment.yml`:
  - r-data.table
  - r-mixdist
  - r-mgcv
  - r-RecordLinkage
  - r-tidyselect
and have installed them all without any issues but get the following:

[code]

[2020-07-29 20:19] nickmalleson opened #70 "Add specific multipliers for different dangers"
Thought I'd try creating an issue rather than emailing. @nnelissen & @Sparrow0hawk I've included you mostly for info.

@spoonerf & @jabrams23 I've added hazards multipliers that people give to the shops etc. once they have the disease, and also included a risk multiplier (we could have more of these in the future to model the impacts of some people being more likely to contract the disease than ot

[2020-07-29 21:09] spoonerf commented on #69
Solved in recent pull request - removed misplaced comma in line 1

[2020-07-29 21:09] #69 closed

[2020-07-30 07:50] spoonerf commented on #70
Looks like it works now that #69 is fixed. However, it doesn't work with the -npf flag on. Will do a pull request now.

[2020-07-30 07:50] #70 closed

[2020-07-30 13:31] nnelissen opened #72 "Microsim model error: multiple repetitions?"
@Sparrow0hawk When running more than 1 set (I think parameter repetitions), seems to want to re-use existing directory from previous repetition? Full error below:

Iteration 3 took 118.96s
Model finished running (iterations: 4)
multiprocessing.pool.RemoteTraceback:
"""
Traceback (most recent call last):
  File "/home/natalie/anaconda3/envs/ramp-ua/lib/python3.7/multiprocessing/pool.py", line 121,

[2020-07-30 13:36] Sparrow0hawk commented on #72
@nnelissen

Just to help me replicate this can you let me know:
- are you running `python microsim/microsim_model.py` here?
- which branch are you on when you get this error?
- is this with the default.yml model parameter file?

I think this might be an expected behaviour of `os.mkdir` unless you pass it some additional arguments, so might require a little refactoring for these multiple runs to pr

[2020-07-30 13:39] nnelissen commented on #72
This is microsim/microsim_model.py from master but changed nr iterations and nr repetitions in default.yml to 4 for each:

scenario_name: test0 # A name describing the scenario. Output data will be stored in a subdirectory with this name.

microsim: # Parameters for the microsimulation (python) part
  iterations: 4 # Number of model iterations. 0 means just run the initialisation.
  data-dir: devo

[2020-07-30 13:42] nnelissen commented on #72
@Sparrow0hawk As predicted, it has just run without errors if you set repetitions to 1.

[2020-07-30 13:47] Sparrow0hawk commented on #72
@nnelissen OK i'll look at developing a fix.

When we do runs with multiple repeitions we'd expect a new data folder for each repetition?

If I implement something that did:

[code]

Would that be acceptable?

We also run into the question of what we'd want to happen if data already exists in `outputs/` directory, do we want it to overwrite? Or should we be creating another directory level (maybe

[2020-07-30 14:08] Sparrow0hawk opened #73 "Microsim model run error on Windows"
## Problem and stacktrace
Testing out the `microsim/microsim_model.py` from master branch (commit d2d00afdc81de430b63bb2d4eedeba99100145cc) on Windows leads to a `rpy2` error.

This look like it can't see R installed within the conda environment.

## Steps to reproduce

On windows 10 via git-bash:
[code]

I've previously created the conda environment using the `environment.yml` and pulled in data

[2020-07-30 14:32] Sparrow0hawk commented on #73
Replicated within github actions in above commit.

[2020-07-30 14:41] nnelissen commented on #73
@Sparrow0hawk I had the same error on Windows 10 (the reason I switched to Linux).
os.path.exists(lib_path) is true so python sees the path/file, but can't read it?

[2020-07-31 11:16] Sparrow0hawk opened #75 "Microsim test failure on Windows : test_random"
## Problem and stacktrace
Tests start to run but now fail on [`test_random`](https://github.com/Urban-Analytics/RAMP-UA/blob/48576dc7aa076489c72cfdfbd609c0f81a59ab47/tests/test_microsim_model.py#L411). Something i'll create a new issue for.

## Steps to reproduce

On Windows 10 with git bash:
[code]

Reproduced within GitHub actions Windows test runner (https://github.com/Urban-Analytics/RAMP-UA/a

[2020-07-31 11:22] Sparrow0hawk commented on #73
OK so reverting to `rpy2=2.9.4` resolves the OSError.

Tests start to run but now fail on [`test_random`](https://github.com/Urban-Analytics/RAMP-UA/blob/48576dc7aa076489c72cfdfbd609c0f81a59ab47/tests/test_microsim_model.py#L411). Something i'll create a new issue for.

[2020-07-31 11:34] Sparrow0hawk commented on #73
@nnelissen so looks like you can resolve this issue by rolling back the version of `rpy2` installed. My fix has updated the `environment.yml` which once merged into master you can rebase into your current local branch. Otherwise you can do:
[code]
To get the working version. Let me know if it then works for you!

[2020-08-03 12:30] nnelissen commented on #73
@Sparrow0hawk I tried and it gives another error now, after (seemingly normal) initialisation, around the time it should switch to the R scripts. It looks like it's loops of (the same?) errors which crash the terminal, I'll try to attach a screenshot in case anything looks familiar
![error](https://user-images.githubusercontent.com/56085672/89182276-57e5bb80-d58d-11ea-94ba-44622414c364.jpg)

[2020-08-03 12:58] Sparrow0hawk commented on #73
Hmm this looks tied into the `multiprocessing` library. Can you copy and paste in the full stacktrace?

I'm unable to replicate but get another error:
@nnelissen I think I replicate this:

[code]

[2020-08-03 13:07] jabrams23 commented on #73
Hey all,

This is an error caused by some fo the R packages that we load. These packages were updated a few days ago and since then we have been getting an error. Fiona solved it temporarily on another branch by removing a few functions that were used to process the mobility data. But we would like to have those functions as part of the R package.  Maybe we can solve it by installing older version

[2020-08-03 13:16] Sparrow0hawk commented on #73
@jabrams23

No problem, i'll dedicate my time on thursday to taking a look at this.

[2020-08-03 13:54] spoonerf commented on #73
Hi All,

I think this error may be something different - I think a read.csv line I may have left in accidentally.

Going to do a pull request which should be a temporary fix for the package problems and for this issue. Essentially just using the R package from a branch which doesn't have the problematic packages.

Cheers,

Fiona

[2020-08-03 15:26] Sparrow0hawk commented on #73
Error when running locally on Windows with #77

[code]

[2020-08-06 14:30] Sparrow0hawk commented on #73
This is an error with R code within `covid_run.py`, specifically within the [creation of output directories](https://github.com/Urban-Analytics/RAMP-UA/blob/48576dc7aa076489c72cfdfbd609c0f81a59ab47/R/py_int/covid_run.R#L45)

The crux of this problem is `Sys.time()` returns a timestamp that includes colons which is an invalid character in Windows file paths (can only be used for specifying partitio

[2020-08-06 15:24] Sparrow0hawk opened #78 "Tidy up of R/py_int and adding some tests or moving things to functions or rampuaR"
The `R/py_int` directory has alot going on in it and from as far as I can tell the most important bits are `output/` and `covid_run.R`.

It'd be great if we could do the following:
- [x] - go through files listed below that exist in that directory and determine if they're in the right place/can de removed/moved
- [x] - break up `run_status` as much as possible into smaller functions with tests so

[2020-08-06 15:41] Sparrow0hawk opened #79 "AssertionError in covid_run.R on Windows"
## Issue and stacktrace

[code]

## Steps to reproduce

Windows 10, within ramp-ua conda environment, calling `microsim/microsim_model.py`

[2020-08-07 08:19] spoonerf commented on #78
Hi Alex,

In terms of the files:

covid_run_py.R - I think is old and not needed any more, right @jabrams23 ?
.Rhistory - I think just auto-added by R but will add to the .gitignore and remove
covid_status_functions.R - This is in rampuaR
devon_cases.RDS - can be deleted
gam_fitted_PHE_cases.RDS - is in the data part of rampuaR (on the wrapper branch) but will need to be called slightly differentl

[2020-08-07 08:56] Sparrow0hawk commented on #78
Hi @spoonerf

`.Rhistory` is typically autoadded by R, it just preserves all commands that are ever typed into the R console during an R session. Much appreciated for tidying this up!

[2020-08-07 10:21] spoonerf commented on #78
@Sparrow0hawk Ah okay brilliant - have done a bit of a tidy up and a pull request for this.

[2020-08-10 14:27] nickmalleson opened #81 "Failed to install 'unknown package' from GitHub"
Sorry that my first message back is about a bug! Any idea what might be causing this? I have pulled the latest of `master` after merging pull request https://github.com/Urban-Analytics/RAMP-UA/pull/76 and have updated my R libraries

[code]

[2020-08-10 14:31] spoonerf commented on #81
Hi Nick,

Sorry my bad - line 10 on covid_run.R should be:

devtools::install_github("Urban-Analytics/rampuaR", dependencies = F, force = TRUE)

rather than

devtools::install_github("Urban-Analytics/rampuaR", dependencies = F, force = TRUE, ref = "no_ff")

The latter installs the r package from a branch which no longer exists.

[2020-08-10 15:05] nickmalleson commented on #81
Worked :-)

[2020-08-10 15:05] #81 closed

[2020-08-11 11:12] nnelissen commented on #79
I just got the same error on Ubuntu (latest version master + updated ramp-ua env)

Traceback (most recent call last):
  File "microsim/microsim_model.py", line 1686, in <module>
    run_script()
  File "/home/natalie/anaconda3/envs/ramp-ua/lib/python3.7/site-packages/click/core.py", line 829, in __call__
    return self.main(*args, **kwargs)
  File "/home/natalie/anaconda3/envs/ramp-ua/lib/python3

[2020-08-12 14:15] nickmalleson commented on #24
Fixed in https://github.com/Urban-Analytics/RAMP-UA/commit/fe07e37ef1062c2e4dc986c083a1b1cabd49ab24

[2020-08-12 14:15] #24 closed

[2020-08-12 14:17] nickmalleson opened #84 "Not reading parameter file (`-npf` argument) causes crash"
[code]
Causes:

[code]

[2020-08-12 14:29] nickmalleson commented on #84
Fixed by ignoring calibration parameters when reading from command line (https://github.com/Urban-Analytics/RAMP-UA/commit/08e81d622c9c3681fdd3466609e995b8816c8c8b)

[2020-08-12 14:29] #84 closed

[2020-08-13 11:18] jabrams23 commented on #79
also getting the same error on mac

[2020-08-13 11:21] jabrams23 commented on #78
@Sparrow0hawk with respect to breaking the run_status function down...this is essentially just a function that calls smaller functions. so it is the pipeline to run the model calling the functions from the r package. im not sure how much more we could break it down

[2020-08-13 11:39] nickmalleson opened #87 "Infectivity multiplier for locations"
Create a multiplier for locations that increases/decreases the infectiveness of the place. E.g. we could make PrimarySchool locations less infective.

[2020-08-13 11:41] nickmalleson opened #88 "Tidy up `microsim_model` directory"
If there are any old files in `microsim` directory could you get rid of them?

[2020-08-13 11:43] nickmalleson commented on #88
I have deleted:
 - microsim/arrays_timeit.py
 - microsim/microsim_initialisation_fs.py (@spoonerf )
 - microsim/microsim_model_JESSE.py (@jabrams23 )
from my branch, let me know if you need to keep them and I'll put them back

[2020-08-13 11:54] nnelissen commented on #88
@nickmalleson Yes, microsim_analysis.py is replaced by dashboard.py (though it may be more consistent naming to rename what is now dashboard to microsim_analysis?)

[2020-08-13 12:11] spoonerf commented on #88
@nickmalleson All fine with me - delete away!

[2020-08-13 12:31] #35 closed

[2020-08-13 12:38] #88 closed

[2020-08-13 12:38] nickmalleson commented on #88
Thanks all. They're still on githiub somewhere so we can get them back if we need to

[2020-08-13 13:41] Sparrow0hawk commented on #75
Looks like this behaviour still occurs on windows test suite. Looks like its maybe more complex than initially thought and to do with how `random` is interacting with `pool.map`

I'd suggest changing [this line in Microsim.random](https://github.com/Urban-Analytics/RAMP-UA/blob/715bd2fde722afb6c13cb5cacf74e253945f78d0/microsim/microsim_model.py#L104).

Currently the behaviour is to use system time

[2020-08-13 13:43] jabrams23 commented on #78
#92 i did some work on that here

[2020-08-13 13:56] #75 closed

[2020-08-13 13:58] nickmalleson commented on #75
Sorry I got confused and also tried to fix this. We basically did the same thing.

[2020-08-13 14:00] jabrams23 commented on #79
@spoonerf are you also getting this error? I cant test any changes that i have made because i keep getting this assertion error

[2020-08-13 14:01] spoonerf commented on #79
@jabrams23 Nope I'm not - everything working fine for me

[2020-08-13 14:09] jabrams23 commented on #79
thought id include the full error code. I am using latest version of master and ramp-ua environment installed today on MacOS

Traceback (most recent call last):
  File "microsim/microsim_model.py", line 1627, in <module>
    run_script()
  File "/Users/jesse/opt/anaconda3/envs/ramp-ua/lib/python3.7/site-packages/click/core.py", line 829, in __call__
    return self.main(*args, **kwargs)
  File "/U

[2020-08-13 14:11] Sparrow0hawk commented on #79
Thanks @jabrams23 the same as others have seen, i'm working on this now as its a key bottleneck.

Initially it looks like the output from `run_status` is not the same length as the initial dataframe of individuals passed. Were there any changed in `rampuaR` that drop rows?

[2020-08-13 14:12] jabrams23 commented on #79
Not that I’m aware of.

[2020-08-13 15:49] Sparrow0hawk opened #95 "Update test data"
I'm attempting to troubleshoot #79 but have found a discrepancy in the working devon data and dummy data. New devon data appears to include an extra `age` column.

Could we update the dummy data file [here](https://github.com/Urban-Analytics/RAMP-UA/tree/master/tests/dummy_data/devon-tu_health) to include this column to help me troubleshoot.

I'm not sure how it was created but if its just a simpl

[2020-08-13 16:12] Sparrow0hawk commented on #79
So I think the predominant issue here is that the assertion this fails: https://github.com/Urban-Analytics/RAMP-UA/blob/ea0887a4894ddcd68bfd71418a744dc2bea598a9/microsim/r_interface.py#L61

Is because dataframe passed to the r_interface is actually a subset of the columns within the full individuals dataset:
https://github.com/Urban-Analytics/RAMP-UA/blob/ea0887a4894ddcd68bfd71418a744dc2bea598a9/m

[2020-08-14 08:14] nickmalleson commented on #95
@Sparrow0hawk sorry the age columns are confusing. @jabrams23 @spoonerf could you read this too to check this is your understanding too.

In the main data file there are two columns: 'Age1' and 'age'. 'Age1' contains the individual ages of the people and was added recently when we read the new data from Karyn. 'age' is an age group (1-6). @jabrams23 @spoonerf do you actually use the 'age' column?

[2020-08-14 08:15] nickmalleson commented on #95
(I merged the changes in https://github.com/Urban-Analytics/RAMP-UA/pull/96 )

[2020-08-14 08:29] nickmalleson commented on #79
@Sparrow0hawk I'm not sure that's right. `len` on a dataframe gives you the number of rows, not the number of columns (to get the number of columns you do `len(r_df.columns)`. So if the assertion (https://github.com/Urban-Analytics/RAMP-UA/blob/ea0887a4894ddcd68bfd71418a744dc2bea598a9/microsim/r_interface.py#L59) is failing that's because the number of rows returned from the R code is different to

[2020-08-14 09:15] spoonerf commented on #95
Hi @nickmalleson I think it is the other way around so that 'age' is the continuous column and 'Age1' is the 1-6. It looks like that is still the case in the latest data?

We use the 'age' (continuous age) column to apply the age base survival rates and I believe @nnelissen uses the 'Age1' (1-6) column to do some visualisation of cases across age groups.

[2020-08-14 10:06] nickmalleson commented on #95
Oh crap you're right,  I think that means my primary/secondary allocation is wrong. I'll fix that now and  also swap the columns round in the dummy data. I'm glad I checked with you!!

[2020-08-14 10:18] nickmalleson commented on #95
fixed in https://github.com/Urban-Analytics/RAMP-UA/pull/97

[2020-08-14 13:49] jabrams23 commented on #79
not sure why its failing...im still getting it so I added code to have the r function print out the nrows of the data frame and I am getting 695309 as expected. so something else is going wrong

[2020-08-14 13:53] jabrams23 commented on #79
i just added some more print statements.

when i do print(nrow(r_df)) in r I get 695309

in python when i do print(len(individuals)) i get 695309
but in python when i do print(len(r_df)) i get 7...this is returning the nubmer of columns and not rows

[2020-08-14 13:56] nickmalleson commented on #79
Thats interesting, I'll have a look too. Are you using the code on the master branch?

--
Sent from a mobile, sorry about the grammar

________________________________
From: jabrams23 <notifications@github.com>
Sent: Friday, August 14, 2020 2:54:04 PM
To: Urban-Analytics/RAMP-UA <RAMP-UA@noreply.github.com>
Cc: Nicolas Malleson <N.S.Malleson@leeds.ac.uk>; Mention <mention@noreply.github.com>
Subje

[2020-08-14 13:59] jabrams23 commented on #79
Yep I just pulled from the master branch about 30 minutes ago

[2020-08-14 14:00] jabrams23 commented on #79
Seems like the r2py is returning the transposition of the data frame from R somehow

[2020-08-14 14:08] jabrams23 commented on #79
Trying print(len(r_df.columns)) returns:
AttributeError: 'DataFrame' object has no attribute 'columns'

so it seems like something isnt working properly when passing the dataframe from r to python

[2020-08-14 14:32] nickmalleson commented on #79
I'm going to debug further now but (a) it works for me! and (b) it sounds like for you the object being returned from R is not being converted into a pandas DataFrame (the library I'm using to run the R from python should convert between R and Python DataFrames by default - something it has been doing correctly until now.

[2020-08-14 14:33] jabrams23 commented on #79
did a bit more detective work

print(r_df.size) returns AttributeError: 'DataFrame' object has no attribute 'size'
print(r_df.shape) returns AttributeError: 'DataFrame' object has no attribute 'shape'
print(r_df.ndim) returns AttributeError: 'DataFrame' object has no attribute 'ndim'

so definitely something wrong with what is being passed from r to python even though the dataframe in the r script

[2020-08-14 14:34] jabrams23 commented on #79
when did you last install the environment? i did it today. maybe something has changed in the rpy2 package?

[2020-08-14 14:41] nickmalleson commented on #79
Definitely works for me. Very odd that it isn't working for you now. Here's what I get:
[code]

I'm currently writing a test to check that R and Python are behaving as they should. I'm expecting it to work on my machine so it will be interesting to see if it works on others.

@spoonerf does the code on the latest version of master work for you?

[2020-08-14 14:44] jabrams23 commented on #79
I think it must be something to do with Conda updating the version of rpy2 that is there. An rpy2 data frame is being returned and not a pandas one for me.

Did you update the environment? Check that maybe it will start throwing the same error?

[2020-08-14 14:45] jabrams23 commented on #79
@nickmalleson which version of rpy2 is installed in your environment? i have 2.9.4

[2020-08-14 14:47] spoonerf commented on #79
@nickmalleson yep all working for me - haven't had the assertion error at any stage

[2020-08-14 14:55] spoonerf commented on #79
@nickmalleson Just updated to the most recent environment.yml and now I do get the error!

[2020-08-14 14:56] jabrams23 commented on #79
@nickmalleson try updating i bet youll get the error. when teh code starts running i get a warning message:

/Users/jesse/opt/anaconda3/envs/ramp-ua/lib/python3.7/site-packages/rpy2/robjects/pandas2ri.py:17: FutureWarning: pandas.core.index is deprecated and will be removed in a future version.  The public classes are available in the top-level namespace.
  from pandas.core.index import Index as P

[2020-08-14 15:03] nickmalleson commented on #79
Yeah OK I think you’re both right, it looks like they have changed the behaviour in rpy2 and/or pandas and no longer do the same implicit conversion to the pandas DataFrame.

I don’t want to try to work out what’s changed now, or how to fix it. Can you both revert to the previous versions? Here is the versions that I have that are working (and how to find out which versions you're using from the c

[2020-08-14 15:06] spoonerf commented on #79
Works when rpy2 is version 3.3.2 and pandas 1.0.3

[2020-08-14 15:06] jabrams23 commented on #79
i have the same version of pandas but an older version of rpy2. thats the problem! as longa s we update to the more recent version of rpy2 using conda-forge then it works

[2020-08-14 15:07] spoonerf commented on #79
I think @Sparrow0hawk rolled back rpy2 because of this problem https://github.com/Urban-Analytics/RAMP-UA/issues/73

[2020-08-14 15:09] nickmalleson commented on #79
Ah OK. This is going to get complicated. I just reverted to the newer version in environment.yml (https://github.com/Urban-Analytics/RAMP-UA/commit/84908cacc71bfcdc7fe5f485b7540e9cfa341f77). If it's working for us now lets leave it and look again at the windows problem with @Sparrow0hawk next week.

[2020-08-14 15:11] jabrams23 commented on #79
working for me now. hopefully we find another way to solve the other problem

[2020-08-14 15:19] Sparrow0hawk commented on #79
Good bug hunting everyone!

I'll look for an alternate way to resolve the the run problem on Windows if `rpy2` is the problem.

I had begun to write some tests for the `r_interface.py` file here https://github.com/Urban-Analytics/RAMP-UA/tree/fix-RassertionError-79 but @nickmalleson have you written some yourself now?

[2020-08-14 15:26] nickmalleson opened #99 "Fix test `test_calculate_new_disease_status`"
For some reason when running `test_microsim.calculate_new_disease_status()` in

https://github.com/Urban-Analytics/RAMP-UA/blob/018d52ad92e92eadf8adbddbe05abeb79ee54b95/tests/test_microsim_model.py#L555

R throws an error about a temporary directory not being found:

[code]

It looks like R is using the correct work directory, so I'm not sure what is going wrong

[2020-08-14 15:29] nickmalleson commented on #79
Oh nice, they are much more comprehensive than mine (which aren't working anyway). I'll get rid of mine as they're redundant if those tests work.

[2020-08-14 15:31] Sparrow0hawk commented on #79
@nickmalleson i'm not sure they work, I was building it yesterday, but as we've resolved the issue around `rpy2` I will get them up to scratch. I'll sort them out on that branch and then offer it to merge in once they're passing

[2020-08-17 12:08] spoonerf opened #102 "Add parameter for lockdown scenario"
Not sure if this is an appropriate use of Issues so apologies if not! @nickmalleson Would it be possible to add a parameter selecting which lockdown scenario to use? For example if we had a .csv referencing the actual lockdown and another one referencing lockdown a week earlier.

[2020-08-17 12:22] nickmalleson commented on #102
Yes absolutely, I'll add that after lunch (its an easy one).

--
Sent from a mobile, sorry about the grammar
________________________________
From: Fiona Spooner <notifications@github.com>
Sent: Monday, August 17, 2020 1:08:47 PM
To: Urban-Analytics/RAMP-UA <RAMP-UA@noreply.github.com>
Cc: Nicolas Malleson <N.S.Malleson@leeds.ac.uk>; Mention <mention@noreply.github.com>
Subject: [Urban-Analytics/R

[2020-08-17 13:28] spoonerf commented on #102
Brilliant, thanks!

[2020-08-17 16:34] nickmalleson commented on #102
Just done it here https://github.com/Urban-Analytics/RAMP-UA/pull/103 but I have to go and haven't tested it properly. The default behaviour is to continue reading google, but there is now a parameter you can set to change that file name. Or passing an empty string turns off any lockdown. Let me know if you see any problems and I'll check it properly tomorrow.

[2020-08-17 16:45] nickmalleson opened #104 "Minor bug in command-line arguments"

[2020-08-17 18:23] #104 closed

[2020-08-17 18:23] nickmalleson commented on #104
Fixed this in https://github.com/Urban-Analytics/RAMP-UA/commit/8b5b2e8d51c43192bd1e51028af05708d737b63d . @nnelissen I renamed `scen_dir` to `scenario` when setting up the script, but kept `SCEN_DIR` throughout the rest of the code, so I don't think it has broken any of your changes.

[2020-08-17 19:22] nickmalleson opened #105 "Dashboard bug: IndexError: single positional indexer is out-of-bounds"
If you choose an `end_day` that is larger than the number of days in your simulation (e.g. here:

https://github.com/Urban-Analytics/RAMP-UA/blob/8b5b2e8d51c43192bd1e51028af05708d737b63d/model_parameters/default_dashboard.yml#L6

the dashboard crashes with the error below. I suggest checking that `end_day` does not go behond the number of days in the scenarios.

[code]

[2020-08-18 06:22] nickmalleson opened #107 "Tests failing: `No module named 'activity_location'`"
Any idea why the tests are failing? (https://github.com/Urban-Analytics/RAMP-UA/pull/106/checks?check_run_id=996907350) I think it's a problem with package locations:

[code]

but I can't figure it out. Local tests work OK for me.

[2020-08-18 07:48] Sparrow0hawk commented on #107
@nickmalleson this looks like an issue with these relative imports. It should work if we adjust the import lines to
[code]

I'll write a quick patch that fixes this.

[2020-08-18 09:01] Sparrow0hawk commented on #107
@nnelissen within `test_dashboard.py` this line
https://github.com/Urban-Analytics/RAMP-UA/blob/4f34db1d61c9ef6c8049ef8d654299472c216d2c/tests/test_dashboard.py#L37

Fails for me and the test runner, I think because it will only work if you've run the model once and its created this directory?

I'm not sure how we get around this, unless within this test we call the function that creates this dire

[2020-08-18 09:58] spoonerf commented on #102
Hi Nick, It looks as if it is always reading the original lockdown file. At least in the terminal output it shows the "google_mobility_lockdown_daily.csv" lockdown multiplier whether I use "", "google_mobility_lockdown_daily.csv" or "google_mobility_lockdown_daily_week_earlier.csv".

[2020-08-18 10:06] nickmalleson commented on #102
That's really weird, I can't replicate the behaviour. Are you using the parameters file? If I put a non-existant file name in here:

https://github.com/Urban-Analytics/RAMP-UA/blob/236b292fd46d59608b37b9797f182c42f076dcb4/model_parameters/default.yml#L11

I get a FileNotFound error, so it's definitely trying to read the file. What happens if you put a non-existnat file in?

[2020-08-18 10:06] nickmalleson commented on #102
(P.S. please also get the latest version of master)

[2020-08-18 10:35] spoonerf commented on #102
Ah yes it doesn't like it if I read in a non-existant file. It seems to be reading in the correct file but it is printing out the values from the google_mobility_lockdown_daily.csv file regardless of which file (or no file) is input, so I'm not sure which is being used.

Lines 1229-1231 on microsim_model.py

`            timeout_multiplier = self.time_activity_multiplier.loc[
                self.

[2020-08-18 10:42] spoonerf commented on #102
Ah sorry ignore this!

[2020-08-18 10:42] #102 closed

[2020-08-18 14:18] Sparrow0hawk commented on #73
Reopening this issue given problems identified in #79 and reversion to newer rpy2 version.

I'll look into a fix but at this stage I'd advise people to **not** run the model on Windows given this issue.

[2020-08-18 14:19] Sparrow0hawk commented on #79
Once I have solved tests for the `r_interface.py` and they pass i'm happy for us to close this issue as the update of rpy2 appears to have solved this.

[2020-08-18 14:20] jabrams23 commented on #79
Can we add a script to run R tests. I have started writing some code for tests for r in the r_tests branch

[2020-08-18 14:23] Sparrow0hawk commented on #79
@jabrams23 yes, its on my todo list for this thursday

[2020-08-18 15:49] nickmalleson opened #110 "Possible bug in equality in dashboard"
@nnelissen  this is probably fine, but I noticed that in the dashboard there is:

`if nr_scenarios <= 2:`

https://github.com/Urban-Analytics/RAMP-UA/blob/236b292fd46d59608b37b9797f182c42f076dcb4/microsim/dashboard.py#L1084

and then later

`if nr_scenarios >= 2:`

https://github.com/Urban-Analytics/RAMP-UA/blob/236b292fd46d59608b37b9797f182c42f076dcb4/microsim/dashboard.py#L1170

So if there are

[2020-08-19 13:55] nickmalleson opened #111 "Use `ColumnNames` fields rather than hard-coded strings"
In the `ColumnNames` class (https://github.com/Urban-Analytics/RAMP-UA/blob/master/microsim/column_names.py) I have specified loads of strings that we might need throughout the program. We should use these rather than hard coding as eventually we'll mis-spell one of the words and things will break. So @nnelissen when you get a chance could you go through the dashboard and replace any of the hard c

[2020-08-19 13:59] nickmalleson opened #112 "Try to make dashboard activities/locations as generic as possible"
At some point we are going to add new activities/locations, so will need to add these to the dashboard. I'm not sure how much of this will be possible, but can you try to make the code as generic as possible? Ideally we would not need to manually add a new activity (e.g. 'Cinema') to the dashboard at all because it will be able to work out all the possible activities from the microsim model, but t

[2020-08-20 09:26] nnelissen commented on #107
@Sparrow0hawk It's only dummy data that shouldn't depend on any previous runs of the model. If it can't find the directory, presumably it can't run any of the following tests since the script assumes the dummy data it reads in next is in that directory.
Not sure what the best workaround is - have we got some dummy data somewhere I can reuse for this, or do I create the dummy data in the test file

[2020-08-20 09:34] nnelissen commented on #110
Yes, if nr_scenarios == 2, it should produce the usual dashboard.html (with the difference scores created eg https://github.com/Urban-Analytics/RAMP-UA/blob/236b292fd46d59608b37b9797f182c42f076dcb4/microsim/dashboard.py#L1034) as well as dashboard_scenarios.html. For 1 scenario, it only creates dashboard.html (no scenarios to compare), for 3 or more only dashboard_scenarios.html (no way to create

[2020-08-20 09:34] #110 closed

[2020-08-20 12:03] spoonerf opened #113 "Symptomatic multiplier"
@nickmalleson Would it be possible to add the multiplier for symptomatic people staying inside more to the parameters files?

Line 1487 in microsim_model.py. Also just noticed it is 0.5 - any idea when that changed from 0.1?

[2020-08-20 12:14] spoonerf commented on #113
Ah looks like it has been like that for a while - https://github.com/Urban-Analytics/RAMP-UA/commit/fe66f696262891ddfdea93080b199c4e7ec30992#diff-440f4b8e7d175967729c88badcb9ec14

[2020-08-20 12:34] nickmalleson commented on #87
Done in https://github.com/Urban-Analytics/RAMP-UA/pull/114

[2020-08-20 12:34] #87 closed

[2020-08-20 12:35] nickmalleson commented on #87
@spoonerf the hazard multipliers are ready :-) See the parameters file:

https://github.com/Urban-Analytics/RAMP-UA/blob/1a4041e3142c4f78d241c18389dc77c4ddb3cb4c/model_parameters/default.yml#L22

[2020-08-20 12:43] nickmalleson commented on #113
Yes I can add a parameter, but probably not before I go on holiday. Do you mind playing around with the number in the code for now?

https://github.com/Urban-Analytics/RAMP-UA/blob/1a4041e3142c4f78d241c18389dc77c4ddb3cb4c/microsim/microsim_model.py#L1525

Sorry no idea why it was changed from 0.5 to 0.1.

If it's going to make a big difference for you being able to use the model I don't mind chani

[2020-08-20 12:52] spoonerf commented on #113
Yep no worries, no rush on it can change it in the code.

[2020-08-20 13:24] Sparrow0hawk commented on #107
@nnelissen is it looking at `dummy_data`? This variable that we're asserting on:

https://github.com/Urban-Analytics/RAMP-UA/blob/4f34db1d61c9ef6c8049ef8d654299472c216d2c/tests/test_dashboard.py#L36

Which creates the following path that the assert fails on:
`/home/medacola/Code/forks/RAMP-UA/devon_data/output/default` as this doesn't seem to be a directory that exists by default in the repo. It d

[2020-08-20 13:48] nnelissen commented on #107
Sorry, I forgot, you're right! Yes, it was an attempt to test if the default_dashboard.yml input exists (not dummy data), but that would only be the case after the microsim has run and the default_dashboard.yml adjusted accordingly. Maybe we should delete this test here and I can add it as a dashboard error (directory doesn't exist etc)?

[2020-08-20 14:00] Sparrow0hawk commented on #107
That's an excellent idea, can always rework the test into a test to check the error is raised within `dashboard.py`

[2020-08-20 15:58] Sparrow0hawk opened #116 "Different output data locations"
I've noticed from playing around with trying to test the `r_interface.py` and running `python microsim/microsim_model.py` we seem to dump outputs for both in different places.

I think i'm correct in saying running `python microsim/microsim_model.py` should create outputs that live in within the data directory specified in the model parameters?

Whilst during runs of `covid_run.R` we create an out

[2020-08-21 08:19] nickmalleson commented on #116
Yes that's correct, the outputs are the results of the model.

My understanding is that these are temporary files, but @jabrams23 & @spoonerf can cofirm. If so, should we delete them after the model has finished running? If it's a pain to do this in the R script because we don't know when the model has actually finished we could do it in the python part.

[2020-08-21 08:23] jabrams23 commented on #116
Hi all. Yes the r output was more thought of as temporary files and a quick way to check what the model is producing. Once things are finalized we will probably turn these outputs off.

[2020-08-21 11:13] jabrams23 opened #117 "server setup"
Hey everyone,

this is a more general question. I am trying to get the model up and running on the server. I got everything installed, but am getting some errors. It looks like the conda environment is trying to access the wrong version of R, but I can't get it to behave. If anyone has any ideas on how to fix this then please let me know (@nickmalleson @Sparrow0hawk ). The error is as follows:

(/

[2020-08-27 16:29] Sparrow0hawk opened #118 "Microsim.add_individual_flows functions fails if not MSOAs are present in study_msoa parameter"
## Issue outline
The function `Microsim.add_individual_flows(retail_name, self.individuals, stores_flows)` fails where a subset of devon_data is used.

Whilst writing tests for the rInterface i've also included a test that instantiates the `microsim` from preliminary data (in my case i've taken a subset of the devon data in `/tests/dummy_data/devon-tu_health/Devon_simulated_TU_keyworker_health.csv

[2020-09-02 10:33] spoonerf opened #119 "Repetitions parameter behaving strangely"
When running the model with more than one repetition the model seems to only run about half the number of repetitions of the requested amount. For example if I set it at 6 it will run 3, if it's 12 it will run 5. My laptop should be able to run 6 at a time. Not an urgent problem just wondering if anyone else was experiencing this?

[2020-09-02 14:59] nickmalleson commented on #119
Weird, it's almost certainly something I did. Will look at it next week

[2020-09-03 08:43] nnelissen commented on #112
Conditions and venues are each in a dictionary defined starting at https://github.com/Urban-Analytics/RAMP-UA/blob/4a60c3fe6883323b4ec4299e2a6d3be9c01cd6dc/microsim/dashboard.py#L850
The rest of the code cycles through these entries, so adding/deleting them there should be the only change required.

Exception is when danger values are calculated per MSOA at https://github.com/Urban-Analytics/RAMP-

[2020-09-03 08:45] #111 closed

[2020-09-03 08:47] nnelissen commented on #105
end_day and end_run are checked and set to maximum available (across all scenarios) if user specifies a value which is too large

[2020-09-03 08:47] #105 closed

[2020-09-03 08:54] nnelissen commented on #72
Scenario names for directories are now specified in defaults.yml. If the directory already exists, it gets incremental numbers (as used for runs previously). The yml file is copied into the directory so it's easy to check which parameters were used.

[2020-09-03 08:54] #72 closed

[2020-09-03 11:56] spoonerf commented on #119
Hello,

Just updating with some information, fao @Sparrow0hawk:

OS: macOS Catalina 10.15.5
git branch: obesity
git log: commit a5be7982204c3efcd3a0553f77e585a3fba0f6e7
command : python3 microsim/microsim_model.py -p model_parameters/default.yml

yaml (defaul.yml):

`# Utility parameters for the microsimulation (python) part.
# These can also be passed as command line arguments
microsim:
  scenari

[2020-09-03 12:10] spoonerf commented on #119
Also when the full number of iterations completes I get this error:

multiprocessing.pool.RemoteTraceback:
"""
Traceback (most recent call last):
  File "/Users/fionaspooner/opt/anaconda3/envs/ramp-ua/lib/python3.7/multiprocessing/pool.py", line 121, in worker
    result = (True, func(*args, **kwds))
  File "/Users/fionaspooner/opt/anaconda3/envs/ramp-ua/lib/python3.7/multiprocessing/pool.py", lin

[2020-09-03 12:47] spoonerf commented on #119
hmm doesn't seem to be a problem on master, will try merging obesity with master and see if that helps

[2020-09-03 15:41] nnelissen commented on #119
Just FYI, my computer has been trying to run 6 repetitions (20 days) using code on master. Not exactly the same behaviour:

- It creates 5 directories, not 6 (numbered 0-4).
- I get m0 pickle files in each of these (initialisation works).
- It only completed 1 run (i.e. created the other pickle files), for the directory named '3'.

No errors. I'm wondering if there is an issue with starmap/multico

[2020-09-07 10:25] nnelissen commented on #119
@nickmalleson For my computer, it seems to be related to multicore processing. If I replace the else statement from https://github.com/Urban-Analytics/RAMP-UA/blob/82559a89b4510bfc0a5b6796e69d07794dd6469d/microsim/microsim_model.py#L1751 onward with the code below (itertools didn't work, not sure why, didn't give an error just didn't do anything), it runs fine and produces the expected files for a

[2020-09-07 10:36] nickmalleson commented on #119
Interesting, thanks @nnelissen, I'll keep looking at this. In the meantime I'm quite intrigued as why `itertools.starmap` didn't work as a replacement for `pool.starmap`. Could you put in some print statements into the `Microsim.run()` (https://github.com/Urban-Analytics/RAMP-UA/blob/82559a89b4510bfc0a5b6796e69d07794dd6469d/microsim/microsim_model.py#L1571) function to see how far it gets through

[2020-09-07 10:39] nickmalleson commented on #119
Just for clarity, the code works like this.

`starmap` runs the different models in different processes:

https://github.com/Urban-Analytics/RAMP-UA/blob/82559a89b4510bfc0a5b6796e69d07794dd6469d/microsim/microsim_model.py#L1767

It calls the `_run_multicore` function which simply takes a model as input and calls its `run` function (this would be unnecessary if python allowed you to use lambda func

[2020-09-07 11:51] nnelissen commented on #119
@nickmalleson It executes itertools.starmap(_run_multicore, zip(models, iters,repnr)) but never calls _run_multicore

[2020-09-07 13:21] nickmalleson commented on #119
Sorry, I can't replicate this on OS X, it works OK for me (just tested 9 repetitions of 10 iterations each).

[2020-09-08 10:42] spoonerf opened #120 "Add population file as a parameter"
Would it be possible to add the input population as a parameter? Thinking it might be useful for scenarios where we alter aspects of the population e.g. a healthier population.

[2020-09-09 08:14] nickmalleson commented on #120
Good question @spoonerf . The short answer is 'yes' but there's a longer answer where we re-do the way that data are read into the model as part of the move to make it run across the whole country.

One question though: if we have multiple populations it means having multiple large csv files in the repo. Instead could we just add columns to the existing population file(s) that represented the new

[2020-09-09 08:16] #95 closed

[2020-09-09 08:23] spoonerf commented on #120
That's a very good idea! Will do that instead.

[2020-09-09 08:29] #120 closed

[2020-09-09 15:45] nickmalleson opened #121 "Include UCL national data in the repo"

[2020-09-09 15:52] nickmalleson commented on #121
Created https://github.com/Urban-Analytics/RAMP-UA/tree/national_data for this

[2020-09-09 16:20] nickmalleson opened #122 "Bug in QUANT-RAMP data dir"
Hi @nnelissen, I've added the QUANT_RAMP data to the repo but I think there  is an error in the microsim/QUANTRampAPI2.py file here:

https://github.com/Urban-Analytics/RAMP-UA/blob/d87139a7f737ac7c69bbcd1d0b11aec7ece4066e/microsim/QUANTRampAPI2.py#L32

At that line it sets the directory to start from a `data` directory but I've put the quant-ramp data with everything else in `devon_data`. I think

[2020-09-09 19:15] nickmalleson commented on #121
After https://github.com/Urban-Analytics/RAMP-UA/commit/b68ecbed42f55e4f636426faafcbf6af66e307c9 and https://github.com/Urban-Analytics/RAMP-UA/commit/846514e95411dfa8faff15e37ff28c6aab68538d this may work but needs testing after #122 has been fixed

[2020-09-09 19:15] #121 closed

[2020-09-10 08:23] Sparrow0hawk commented on #122
@nickmalleson could you please let me know the steps you performed so I can attempt to replicate this error?

[2020-09-10 08:36] nickmalleson commented on #122
@Sparrow0hawk all I need to do is checkout the `national_data` branch - that has the data and the new paramaeter to choose to use the national data (curently the default in that branch)

[2020-09-10 08:46] nnelissen commented on #122
@nickmalleson I put it in /data on purpose as I thought we were going to remove devon-data (or keep it as demo). I'll add quantdir as a parameter.
The QUANT data don't work with the dashboard yet, this is being fixed - https://github.com/Urban-Analytics/RAMP-UA/issues/112#issuecomment-686346462

[2020-09-10 14:03] Sparrow0hawk opened #123 "Creating a QUANTRampAPI class"
## Overview

The QUANT data is loaded through the [`QUANTRampAPI2.py`](https://github.com/Urban-Analytics/RAMP-UA/blob/national_data/microsim/QUANTRampAPI2.py) file, to better align this with our existing API a piece of work should be performed to convert this file into an object class which can be called from within `microsim_model.py` to manage data loading.

## Key ideas

- Managing the data di

[2020-09-11 14:42] spoonerf opened #124 "Error - No module named 'microsim'"
Hi all,

This may be me making a mistake somewhere but I just pulled the latest master and am getting this error when running:

`Traceback` (most recent call last):
  File "microsim/microsim_model.py", line 22, in <module>
    from microsim.activity_location import ActivityLocation
ModuleNotFoundError: No module named 'microsim'`

Using the latest environment:

`conda activate ramp-ua
python3 micr

[2020-09-11 15:07] nickmalleson commented on #124
Yes I have the same error, but weirdly not when I run the programme through my IDE. I think these were introduced in https://github.com/Urban-Analytics/RAMP-UA/issues/107, I'm looking now

[2020-09-11 15:16] nickmalleson commented on #124
I've just rolled back issue https://github.com/Urban-Analytics/RAMP-UA/issues/107 with commit https://github.com/Urban-Analytics/RAMP-UA/commit/35829435edc0f7559ec07e29bad6056ce027128c and I think the imports are OK now. @spoonerf could you check? @nnelissen and @Sparrow0hawk we may need to re-fix this again as I may have now just re-broken whatever it was you were yrying to fix in https://github.

[2020-09-11 15:17] nickmalleson commented on #107
I've just rolled this back to fix a problem we found in https://github.com/Urban-Analytics/RAMP-UA/issues/124 @nnelissen and @Sparrow0hawk we may need to re-fix this again as I may have now just re-broken whatever it was you were yrying to fix in https://github.com/Urban-Analytics/RAMP-UA/issues/107; something for when Alex gets back from holiday

[2020-09-11 15:20] Sparrow0hawk commented on #124
With the changes in #107 have you activated your conda environments and run
[code]

This is a critical step to ensure the python module is added to the `PYTHONPATH` in the environment to prevent these issues.

[2020-09-11 15:25] nickmalleson commented on #124
Oh right, sorry I missed the need for `python setup.py develop`. @spoonerf if you've not brought in the new version of master yet could you try that? If it works I'll undo my most recent commit (https://github.com/Urban-Analytics/RAMP-UA/commit/55134b06f4ca4423a0356ba6c24389a54ab2ee29)

[2020-09-11 15:39] nickmalleson commented on #124
Thanks @Sparrow0hawk you were right. I've undone the changes in commit https://github.com/Urban-Analytics/RAMP-UA/commit/b47d471199023ef08fa0e8e25a8a033f83845688 and it works OK for me now. @spoonerf let me know how you get on.

[2020-09-11 15:41] Sparrow0hawk commented on #124
No problem, it's a first time only setup step whenever you have to create your `ramp-ua` environment so easy to miss but should resolve these issues.

[2020-09-11 15:41] nickmalleson commented on #107
Nick got it wrong, undid the changes he made in https://github.com/Urban-Analytics/RAMP-UA/commit/b47d471199023ef08fa0e8e25a8a033f83845688 and all is well again

[2020-09-11 15:41] #107 closed

[2020-09-14 07:27] spoonerf commented on #124
Ah brilliant, all working now. Have created a PR to update the documentation in #125

[2020-09-14 07:27] #124 closed

[2020-09-14 13:24] nnelissen commented on #122
@nickmalleson I think you fixed this in national_data so can be closed?

[2020-09-14 13:29] #122 closed

[2020-09-14 13:58] nnelissen commented on #112
UCL/QUANT compatible dashboard is now available as microsim/dashboard_QUANT.py. microsim/dashboard.py works with the devon_data as before. Currently in dev_NN, will do pull request next. @nickmalleson My computer crashes when I try the microsim with the QUANT data (out of memory) so I haven't been able to test it with 'real' microsim output.

dashboard_QUANT.py reads in QUANT data from the variabl

[2020-09-15 16:01] jabrams23 opened #129 "msoa info"
@nickmalleson i am writing some new code for local outbreak scenarios. I want to simulate a local outbreak or super spreader event in one msoa that we can specify. do you currently pass the msoa to the r code? and if yes, what is the column called?

[2020-09-15 16:15] jabrams23 opened #130 "can't create conda environment"
when trying to create the conda environment using the command:
(base) jesse@jesse-mac RAMP-UA % conda create env -f environment.yml

i get the error message:
usage: conda [-h] [-V] command ...
conda: error: unrecognized arguments: environment.yml

[2020-09-15 16:29] jabrams23 commented on #130
figured it out. @Sparrow0hawk @nickmalleson the readme in the main RAMP-UA directory has the incorrect conda command. as it is it is: conda create env -f environment.yml

it should be: conda env create -f environment.yml

[2020-09-16 09:35] nickmalleson commented on #129
@jabrams23 have a look in the `r_interface` file here:

https://github.com/Urban-Analytics/RAMP-UA/blob/4b8a03287b1dc0b5ad6099272779c48ef94d0268/microsim/r_interface.py#L50

That line shows you which columns extracted from the main table and passed to the R code. 'area' is the MSOA code, so yet that one ends up in the table that is passed to R

[2020-09-17 12:58] #112 closed

[2020-09-18 08:09] spoonerf commented on #119
I think this was just me installing the r package in a funny way

[2020-09-18 08:09] #119 closed

[2020-09-18 10:41] jabrams23 opened #134 "tourism scenario"
i want to start working on a tourism scenario. so this would be mainly an interesting thing for devon at first, but then could also be used for international tourism potentially. what we need to do is: at timestep t sample X percent from our existing population and add that to population, assign those people to specific MSOAs where tourists would go and then pass this to the r code. pretty much al

[2020-09-21 07:10] jabrams23 commented on #134
@nickmalleson so we need to add X number of people. I was thinking just randomly sampling from the population and duplicating them could be the easiest way to do that. The only thing we would have to change is the flows as people on vacation would not be going to school or work. what do you think?

[2020-09-22 07:17] nickmalleson commented on #134
Sorry @jabrams23 for not replying sooner, this got buried under some less interesting admin.

Great idea to try the scenario, it should be reasoably straightforward. You will have to know how to add to pandas dataframes though so I'd recommend you do a quick tutorial on those. They're very similar to R dataframes, but the syntax varies slightly. I think just duplicating the people should be fine,

[2020-09-22 07:35] jabrams23 commented on #134
@nickmalleson i am very experienced with python so its no problem for me to add to the pandas dataframe. only question is where in the code do you think it would be best to implement this?

[2020-09-22 08:41] nickmalleson commented on #134
@jabrams23 probably somewhere in the `step` function https://github.com/Urban-Analytics/RAMP-UA/blob/f57ef5d2a55216056f2d6bc2af63e6773c75d1bd/microsim/microsim_model.py#L1545

I guess either at the start or end? (i.e. before the risks and disease statuses get updated, or after). Let me know if you'd like me to add a parameter to allow the function to be turned on or off, a bit like the `disable_di

[2020-09-24 15:44] nnelissen commented on #123
Added in https://github.com/Urban-Analytics/RAMP-UA/pull/135#issue-492537791

[2020-09-24 15:44] #123 closed

[2020-09-28 14:53] jabrams23 commented on #134
ok. @nickmalleson i started thinking more about this.  we cant just duplicate people because they each need their own flows...they wont go to work or school when on vacation. any ideas on best way to do this? i think we need to create a new function that adds the people at time step t and then assigns them a disease status and calculates their flows i.e.:

(pseudo code)
if timstep == tourism_times

[2020-09-29 09:43] nickmalleson commented on #134
Hi Jesse, my email may have clarified this further, but on the whole this looks fine. The only thing to add is that the flows and venues are lists as we don't know specifically which location someone goes to. So the pesudocode would be more like:

(pseudo code)
if timstep == tourism_timestep:
tourism_df = sample(pop_df, x)
tourism_df['status'] = new_status
tourism_df['workflow_locations'] = [0.85,

[2020-09-30 12:16] jabrams23 commented on #134
@nickmalleson what i started working on can be found here https://github.com/Urban-Analytics/RAMP-UA/blob/tourism/microsim/microsim_model.py#L1545-L1566

[2020-10-02 16:50] nickmalleson opened #139 "Add new commuting flows"

[2020-10-04 16:46] nickmalleson commented on #139
@spoonerf @jabrams23 please could you try to run the code on the branch `nm-commuting`: https://github.com/Urban-Analytics/RAMP-UA/tree/nm-commuting ? I've implemented commuting to different locations based on census flows, but I'm getting an error (below). I've not tried to work out what's wrong yet, and it's probably because I don't have the latest version of the R code, but I'd like to know if

[2020-10-05 09:17] spoonerf commented on #139
Hi @nickmalleson I think it's a misplaced bracket after 0.75, it should just end with a comma.

[2020-10-05 15:13] #130 closed

[2020-10-06 10:25] nickmalleson commented on #139
Finished https://github.com/Urban-Analytics/RAMP-UA/pull/141

[2020-10-06 10:25] #139 closed

[2020-10-06 11:28] nickmalleson opened #142 "Cache initialisation data once loaded"
Because it takes ages for the model to be initialised (especially now the new workplaces have been added in).

[2020-10-06 12:13] nickmalleson opened #143 "could not find function "local_outbreak""
Hi @spoonerf @jabrams23 I'm getting the following error on iteration 7 (running in master branch). Any idea what's causing this?

R[write to console]: Error in local_outbreak(df = df_prob, msoa_infect = msoa_infect, number_people = number_people_local,  :
  could not find function "local_outbreak"

Traceback (most recent call last):
  File "microsim/microsim_model.py", line 1914, in <module>
    r

[2020-10-06 12:37] spoonerf commented on #143
Hi @nickmalleson can you try again now? It may be that the latest version of the rampuaR package was not being installed, with @jabrams23 local_outbreak function on. I've increased the version which should trigger it to be installed.

[2020-10-06 12:42] nickmalleson commented on #143
Thanks I'll try now, give me 20 mins to re-initialise !!

[2020-10-06 12:44] jabrams23 commented on #143
Hey this is because the local outbreak scenario seems to be on. Make sure to turn this off. The default tilmestep for local outbreak was set to 7 (for no reason) and it is trying to find the local outbreak function which you don’t have cause you don’t have the newest version of the r package.

But the default for local outbreak should be off so maybe I did something wrong in the code

[2020-10-06 12:46] spoonerf commented on #143
@jabrams23 Ah yeh it seems to be on and set to 7 in the default.yml

[2020-10-06 12:46] nickmalleson commented on #143
Thanks I'll try that now

[2020-10-06 12:49] jabrams23 commented on #143
ah. Lets make the default off. Sorry for that.

[2020-10-06 13:15] Sparrow0hawk opened #144 "test issue"
for alex testing new github action

[2020-10-06 13:32] nickmalleson commented on #143
It's all good now, thanks both.

[2020-10-06 13:32] #143 closed

[2020-10-06 14:29] nickmalleson commented on #142
Done: https://github.com/Urban-Analytics/RAMP-UA/pull/145

[2020-10-06 14:29] #142 closed

[2020-10-06 14:37] #144 closed

[2020-10-06 14:44] Sparrow0hawk opened #147 "testing auto brancher"

[2020-10-06 14:44] Sparrow0hawk commented on #147
autobrancher works!

[2020-10-06 14:44] #147 closed

[2020-10-12 15:16] nickmalleson opened #154 "(minor) save workplaces if --no-cache is true"
So setting --no-cache is a way of recreating the cached files. This is similar behaviour to the opencl snapshots.

[2020-10-12 15:22] nickmalleson opened #155 "Shorter auto-brancher branch names"
Hi @Sparrow0hawk I love the auto brancher, but is it possible to configure it to use only the first _x_ characters in the issue name? No big deal, it just means that branch names can become very long, e.g.: `nickmalleson-issue-154-_minor_save_workplaces_if_no-cache_is_true` !

[2020-10-12 15:24] Sparrow0hawk commented on #155
I'll take a look at this. Enjoy the circular nature of the problem though as shown by the bot above!

[2020-10-12 16:29] spoonerf opened #156 "symptomatic by age class"
I wanted to add the probability of being symptomatic to being dependent on age - as in this SAGE report: https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/914981/S0729_Principles_for_Managing_SARS-CoV-2_Transmission_Associated_with_Further_Education_.pdf

Also wanted to try out the fancy new branch maker!

[2020-10-13 08:10] nickmalleson commented on #154
https://github.com/Urban-Analytics/RAMP-UA/pull/158

[2020-10-13 08:10] #154 closed

[2020-10-13 09:05] nickmalleson opened #159 "Multiple OpenCL Iterations"
Adapt the OpenCL notebook (https://github.com/Urban-Analytics/RAMP-UA/blob/master/microsim/analyse_opencl_results.ipynb) so that we can run multiple iterations and generate confidence intervals on the results. I intend to use this as a first step before running some more comprehensive sensitivity testing and later more robust calibration.

[2020-10-13 09:11] nickmalleson opened #160 "Inconsistent environment"
Hi Alex,

This may be nothing important. I need to install the `glfw` package to use the new notebook (https://github.com/Urban-Analytics/RAMP-UA/issues/159) but got a warning from conda about an 'inconsistent environment'.

Could you have a quick look to see if it's something we need to worrk about?

[code]

[2020-10-13 09:25] Sparrow0hawk commented on #160
Hmm I wouldn't expect you to need to install `glfw` as its included in the opencl models [`requirements.txt`](https://github.com/Urban-Analytics/RAMP-UA/blob/master/microsim/opencl/requirements.txt) and our conda environment file installs all the opencl dependencies.

If you activate the conda environment and do `pip list` is `glfw` not present there?

[2020-10-13 09:34] nickmalleson commented on #160
Ah yes, it is there. I've dug further and it actually looks like it's weird behaviour caused by `jupyter lab`. If I open the notebook with `jupyer notebook` the libraries are opened without issue but with the lab I get missing libraries. I think it's probably something to do with my local setup, I'll experiment further. Anyway I'll close this now, thanks.

[2020-10-13 09:58] nickmalleson commented on #160
P.S. @Sparrow0hawk it turns out that I didn't have jupyter-lab installed in the ramp-ua environment, so it was loading it from somewhere else. No idea where my console was finding it. Anyway I've installed it so it's fine now (I didn't include jupyer-lab in the environment file because I figured it would bloat it).

[2020-10-14 13:29] spoonerf opened #163 "people_obesity is not a file in the archive"
Running into an error when I try and run the opencl gui - has anyone else had this issue?

I've updated to the latest environment.yml and have pulled the latest code.

[code]

[2020-10-15 17:06] rory-improbable commented on #159
Hey @nickmalleson I'm not sure exactly what's causing this but I do know that I have had weird problems in the past with python multiprocessing due to the issue that functions you pass need to be picklable (see this [stackoverflow post](https://stackoverflow.com/a/8805244)). This caused weird issues for me where it worked in some contexts but not others, and didn't give useful errors. Unless you h

[2020-10-15 19:28] rory-improbable commented on #159
So interestingly I just tried this out both from the `temp.py` script and in the jupyter notebook, and it worked in both of them!!

Not really sure what to suggest next. As a sanity check have you tried running the _run_opencl_model() function by itself in the jupyter notebook without multithreading it?

Another thing that can help fix bugs with multiprocessing in python is to use multiple _proces

[2020-10-16 05:57] nickmalleson commented on #159
Thanks @rory-improbable , I'll have a look at a `ProcessPoolExecutor`. I think it's probably a weird bug in the jupyter notebook though. Helpfully `itertools` has a `starmap` function as well, which runs in the main process, so I can just use that and otherwise keep the code almost identical if I can't get multiprocessing to work properly. Before I close this, could you just tell me what the outpu

[2020-10-16 08:18] Sparrow0hawk opened #166 "Update GAH miniconda setup"
Our GitHub action around miniconda setup (which is crucial for lots of our continuous integration (CI) actions) has [changed](https://github.com/conda-incubator/setup-miniconda) and there are some deprecations coming down the line that haven't quite pushed to release in the latest version.

I'll take a lead on keeping an eye on this and try and implement before it breaks any of our CI pipeline.

[2020-10-16 08:22] rory-improbable commented on #159
here's my output of `conda list jupyter`, looks identical to yours except I don't have jupyterlab and jupyterlab_server
[code]

[2020-10-16 10:45] spoonerf commented on #163
solved with #162

[2020-10-16 10:45] #163 closed

[2020-10-16 16:06] nickmalleson commented on #159
Thanks. It's a weird problem. I'll mess around with my version of jupyter notebook.

[2020-10-16 16:06] #159 closed

[2020-10-19 09:20] spoonerf opened #168 "No lockdown not working"
Hi @nickmalleson running into an issue when trying to ignore lockdown effects. I used an empty string for the lockdown parameter in the default.yml parameters file but it still seems to call the 'google_mobility_lockdown_daily.csv'.

Can take look into it but thought it would be good to flag.

[2020-10-19 10:42] nickmalleson commented on #50
Not bothering with this any more

[2020-10-19 10:42] #50 closed

[2020-10-19 11:01] nickmalleson commented on #168
Ah, you might have stumbled on a nice bug. Could you try running it with `--no-use-cache`? I think that the problem may be that if the model can reload itself from the cache then changes to some of the parameters (like the lockdown file) are being ignored.

[2020-10-19 11:02] nickmalleson commented on #168
Sorry, just to be clear, run it with something like `python microsim/main.py --no-use-cache`

[2020-10-19 13:26] spoonerf commented on #168
Oo okay tried the no cache flag but ran into this issue:

[code]

[2020-10-19 13:36] nickmalleson commented on #168
Ah OK, let me experiment. Could create the exact setup you're using as a (new?) branch so that I can try to recreate this?

[2020-10-19 13:37] nickmalleson commented on #168
If you're keen on typing you could use 'spoonerf-issue-168-No_lockdown_not_working' that the bot helpfully created for you :-)

[2020-10-19 13:37] spoonerf commented on #168
Sure - one mo! Well it would be rude not to use that one :)

[2020-10-19 13:48] spoonerf commented on #168
@nickmalleson should be up to date now - I used

[code]
and got the above error.

Trying with deleting the cached .pkls now so will let you know how that goes!

[2020-10-19 14:13] spoonerf commented on #168
Is it perhaps trying to pickle something that doesn't exist when using the --no-use-cache flag? Would a solution would be to have a no lockdown csv where the multiplier is 1 every day?

[2020-10-19 14:24] nickmalleson commented on #168
Don't worry I have a plan, give me 10 mins

[2020-10-19 14:48] nickmalleson commented on #168
OK I've just pushed some changes to that branch (https://github.com/Urban-Analytics/RAMP-UA/tree/spoonerf-issue-168-No_lockdown_not_working) which should have fixed the problem. The main one is https://github.com/Urban-Analytics/RAMP-UA/commit/e59cca9dac4800ce048e3a0241a4d2334f7cb12f . Basically now it reads the lockdown file separately from the other population files. So it will still cache the p

[2020-10-19 15:29] spoonerf commented on #168
Great will try it out now!

[2020-10-19 16:07] spoonerf commented on #168
Success! Thanks @nickmalleson 🎉

[2020-10-19 16:21] #168 closed

[2020-10-20 14:03] spoonerf opened #172 "Send python repetition number to R"
Hi @nickmalleson was wondering if it might be possible to send the repetition value to R from python? Was thinking it might be useful for comparison of scenarios to have paired runs which could be done by setting a seed for each repetition, and was hoping we could use the repetition number as the seed.

If this would be a total pain to do don't worry! Had a look to see if I could figure it out but

[2020-10-20 14:04] spoonerf opened #173 "Send Python repetition number to R"
Hi @nickmalleson was wondering if it might be possible to send the repetition value to R from python? Was thinking it might be useful for comparison of scenarios to have paired runs which could be done by setting a seed for each repetition, and was hoping we could use the repetition number as the seed.

If this would be a total pain/time consuming to do don't bother with it. Had a look to see if I

[2020-10-21 09:03] nickmalleson commented on #173
This is easy @spoonerf . Do you want the number of repetitions (e.g. 50) or the number/ID of the particular model (e.g. 7)

[2020-10-21 09:06] spoonerf commented on #173
The number/ID of a particular model would be fantastic!

[2020-10-21 09:09] nickmalleson commented on #173
No worries, leave this with me, I can do it today

[2020-10-21 09:31] nickmalleson commented on #173
OK fiona I've added the repetition number so that it is passed to the R code. The arguments now passed to R have an aditional integer (`reprn`) before the disease parameters:

https://github.com/Urban-Analytics/RAMP-UA/blob/e0d1975739d1d4d7790592c7278e4348d0d22749/microsim/r_interface.py#L64

Could you update the R code to receive the new parameter? Then it should be good to go. The changes are in

[2020-10-21 09:44] nickmalleson opened #175 "'Microsim' object has no attribute 'random'"
When the code was refactored the `random` object was moved from `Microsim` to `PopulationInitialisation` and this change needs to be reflected in `Microsim._make_a_copy`

[2020-10-21 10:13] nickmalleson commented on #175
Fixed in 75525a828674cee60a5460d9d92d68a041bcc0c0, d5bd103879b72b1c5b2be4634a59547d3efdab66

[2020-10-21 10:17] nickmalleson commented on #175
Pull request https://github.com/Urban-Analytics/RAMP-UA/pull/176

[2020-10-21 10:20] #175 closed

[2020-10-21 10:52] #172 closed

[2020-10-21 10:55] spoonerf commented on #173
Thanks @nickmalleson ! Think it's all good now. Model currently not running all the way through as I made some changes to the R package - should be okay if you merge in #174

[2020-10-21 11:24] nickmalleson commented on #173
OK that's merged now, let me know how you get on

[2020-10-21 11:45] spoonerf commented on #173
Sorry just realised I could have merged with the branch with the PR! Anyway, all working now, thanks!

Will update the functions with seed setting but will do that on another branch.

[2020-10-21 12:49] nickmalleson commented on #173
All done now I think :-) https://github.com/Urban-Analytics/RAMP-UA/pull/178

[2020-10-21 12:49] #173 closed

[2020-10-21 12:54] #156 closed

[2020-10-22 18:06] Sparrow0hawk opened #182 "submodules not found by setup.py"
Setuptools isn't correctly finding submodule packages in microsim when we run `python setup.py install`

Setup.py should find submodules thanks to `setuptools.find_packages()` however this doesn't seem to have worked for any submodules without an `__init__.py`. Now, whilst strictly speaking from [PEP 420](https://www.python.org/dev/peps/pep-0420/) you don't need to have an `__init__.py` in every s

[2020-10-22 18:07] Sparrow0hawk commented on #182
@rory-improbable @cshenton

Do you guys forsee any potential problems for me adding these `__init__.py` files into the opencl stuff?

[2020-10-23 08:26] rory-improbable commented on #182
@Sparrow0hawk I don't see why that would be a problem, I say go ahead!

[2020-10-23 10:39] #182 closed

[2020-10-24 18:40] Sparrow0hawk opened #185 "Create an example notebook that runs the model in google colab"
Create an example notebook that includes some environment setup scripts for Google colab.

[2020-10-27 06:28] nickmalleson commented on #7
I'm doing this in the `experiments` directory https://github.com/Urban-Analytics/RAMP-UA/tree/master/experiments

[2020-10-27 06:28] #7 closed

[2020-10-27 06:31] nickmalleson opened #188 "Test QUANT data"
Check that when we use the quant data (the UCL spatial interactions models) the results are similar

[2020-10-30 11:42] nickmalleson commented on #188
Done, tests seemed fine.

[2020-10-30 11:42] #188 closed

[2020-10-30 11:44] nickmalleson opened #197 "AttributeError: 'NoneType' object has no attribute 'glGetError'"
I'm trying to run the OpenCL version using the notebook here: https://github.com/Urban-Analytics/RAMP-UA/blob/master/experiments/sensitivity_analysis/sensitivity_analysis.ipynb It works fine on my mac, but I'm now trying it in an Ubuntu azure virtual machine and am getting the error below. Anything obvious I should try? My sense is that this is a problem with OpenCL drivers on Ubuntu. I've not tri

[2020-10-30 12:09] rory-improbable commented on #197
@nickmalleson this looks like an OpenGL error, so it's possible that the right drivers for OpenGL aren't installed.

However OpenGL is only used for the UI, and presumably if you're running on Azure you mainly care about running the model in headless mode and don't need the UI? If that is the case then as a short term fix you could comment out importing the Inspector, and any code which references

[2020-10-30 12:11] rory-improbable commented on #197
Also I just did some quick googling and this is a potential fix, if you can run the following:
[code]

[2020-10-30 12:17] nickmalleson commented on #197
Thanks Rory, commenting out the `Inspector` inport from here:
https://github.com/Urban-Analytics/RAMP-UA/blob/ecb49a89b1b5da878dda5897d71aba631d5e36e4/microsim/opencl/ramp/run.py#L6
worked fine. I'll close this now. As an aside, maybe that import line could be moved to here:
https://github.com/Urban-Analytics/RAMP-UA/blob/ecb49a89b1b5da878dda5897d71aba631d5e36e4/microsim/opencl/ramp/run.py#L28
so

[2020-10-30 12:17] #197 closed

[2020-10-30 13:34] rory-improbable commented on #197
@nickmalleson my personal preference is to keep imports at the top of files, however I'm not sure whether that is standard practice or just my own bias.

To be honest possibly the best solution would be to move the `run_with_gui` function to a separate file that has different imports. But in this case I'm happy with just moving the import Inspector line  into the `run_with_gui` function, I think t

[2020-11-03 10:04] nickmalleson opened #202 "Automatically pass parameters for calibration"
@cshenton this is minor and I'll ask you about this at the sprint, so don't worry about it now, but I just wanted to note down my thoughts.

Lets say we have an optimisation library that takes two arguments: a function that runs the model and returns a fitness value, and a list of initial guesses for parameter values. E.g. I can use `scipy.optimise.minimize` as follows (implemented here https://gi

[2020-11-03 10:18] spoonerf opened #203 "Remove proportion_asymptomatic as a parameter"
Now that we have %symptomatic by age (#193) is it worth removing the proportion_asymptomatic parameter as I don't think it does anything now?

[2020-11-05 12:41] nickmalleson opened #207 "Documentation for creation of observations file"
Hi @spoonerf , is there somewhere where the observations are documented properly? I had a quick go at this here:

https://github.com/Urban-Analytics/RAMP-UA/tree/master/experiments/sensitivity_analysis/observation_data

(note that that uses the old gam_cases file though). Do you have somewhere where the observations and associated scripts are documented? If not shall I just tidy up the contents of

[2020-11-05 12:58] spoonerf commented on #207
hi @nickmalleson ah no they weren't documented anywhere properly, what you've done looks great! Just a small change to the R script which I'll do a PR for now. The original script essentially ignores the initial 10 cases. The new script will align with the gam_cases file we are using now.

[2020-11-05 19:10] nickmalleson commented on #207
Brilliant, thanks Fiona. Merged https://github.com/Urban-Analytics/RAMP-UA/pull/208

[2020-11-05 19:10] #207 closed

[2020-11-10 10:52] #203 closed

[2020-11-12 10:00] nickmalleson opened #211 "OpenCL: `kernel 'x' was part of a lengthy source build resulting from a binary cache miss`"
I'm using an ABC library to sample from the model, but am getting these info messages:

[code]

The model seems to be working fine so I am happy to ignore them. Is it something I should be concerned about? Also is it possible to surpress  these messages? (only because they will fill up my notebook with junk if I take a lot of samples)

[2020-11-12 11:55] cshenton commented on #211
I've done a quick search and these messages are from pyopencl, not the underlying opencl compiler, so you will be able to disable them. To make it so that only ERROR logs show up the following _should_ work (so long as you run this after the pyopencl import).

[code]

Alternatively `logging.WARNING` if you still want to see warning logs.

[2020-11-12 14:01] nickmalleson commented on #211
Perfect, thanks @cshenton . FYI the messages aren't printed when I run this on the Azure Ubuntu VM (I use OS X at home)

[2020-11-12 14:01] #211 closed

[2020-11-12 14:02] nickmalleson commented on #202
Closing; not relevant for other libraries and only mildly irritating so I wont worry about it

[2020-11-12 14:02] #202 closed

[2020-11-12 16:25] #155 closed

[2020-11-16 09:01] #166 closed

[2020-11-17 10:43] nickmalleson opened #218 "OpenCL overestimating disease spread"
Re. the discussion on Slack. For some reason the OpenCL model has started overestimating the disease spread. Would you mind having a quick look?

The notebook I am using is [`sensitivity_analysis.ipynb`](https://github.com/Urban-Analytics/RAMP-UA/blob/master/experiments/sensitivity_analysis/sensitivity_analysis.ipynb). That's quite long, but only the first few chunks are needed to initialise and r

[2020-11-17 10:45] nickmalleson opened #219 "Test OpenCL model results"
Create a test that checks that the model results look reasonable.

[2020-11-18 07:32] nickmalleson commented on #218
Turns out it just needed some recalibration after a chance. I will write a test to look for a change that makes the model worse: https://github.com/Urban-Analytics/RAMP-UA/issues/219

[2020-11-18 07:32] #218 closed

[2020-11-18 12:05] spoonerf opened #220 "Google mobility lockdown multiplier changes with increases in data"
Hi all, I was just working on documenting the google mobility lockdown multiplier and realised a small bug. We use a GAM to smooth the google mobility data in order to get a smoothed estimate of the proportional decrease in the amount of time spent outside the home. However when new data is added to this the predicted values of the GAM shift a bit meaning that the multiplier would change slightly

[2020-11-18 12:12] spoonerf commented on #220
R code used to create above plot
`
library(readr)
library(tidyr)
library(ggplot2)
library(mgcv)

###downloading latest file from google mobility
download.file("https://www.gstatic.com/covid19/mobility/Global_Mobility_Report.csv",
              destfile = "Google_Global_Mobility_Report.csv")

gm <- read_csv("Google_Global_Mobility_Report.csv") %>%
  filter(country_region == "United Kingdom" & sub_r

[2020-11-18 12:27] spoonerf commented on #220
Will try the model out with the unsmoothed values after lunch!

[2020-11-18 16:39] spoonerf commented on #220
About a third fewer infections when using the unsmoothed values - probably something we need to decide on @nickmalleson

[2020-11-19 07:50] nickmalleson commented on #220
Intuitively I prefer the smoothed version because we don't have an explicit weekday/weekend differentiation in the model. I don't fully understand the bug; is there a way to fix it so that it doesn't 'shift'?

[2020-11-19 09:34] spoonerf commented on #220
Hmm will ask Gavin if there's a clever way of doing that, but failing that could use a moving average?

14 day moving average shown in blue:

![image](https://user-images.githubusercontent.com/10774728/99647996-6d062d80-2a4a-11eb-917a-aa52d9581f9b.png)

[2020-11-19 11:16] spoonerf opened #221 "R/Python model not running"
Running into this issue when trying to run the R/Python model on master branch. Looks like an issue loading packages, but can't figure what is causing it!

[code]

[2020-11-19 13:20] nickmalleson commented on #221
That's an odd one. Have you tried re-installing things with
[code]

[2020-11-19 13:23] nickmalleson commented on #220
The moving average looks good. I think it's more robust than the big jumps

[2020-11-19 13:24] Sparrow0hawk commented on #221
@spoonerf if you do:

[code]

What output do you get?

[2020-11-19 14:21] spoonerf commented on #221
Ah I removed the environment and re-setup everything and it seems to work. I did that yesterday also so not sure what is different now, but either way problem solved! Sorry for the time waste!!

[2020-11-19 14:21] #221 closed

[2020-11-19 15:01] spoonerf commented on #220
Okay brill, I will upload the moving average one and script to go with it in a PR shortly. Charlie suggested making a more generalisable function which I think is a good idea, but I'm also conscious that I should stop changing things whilst you are calibrating! So think it might be best to stick with the moving average for now and then explore a more general option for when we expand out of Devon?

[2020-11-23 11:33] nickmalleson commented on #220
@spoonerf .. bit late now, but don't worry if you need to change things that will affect the calibration. I just re-run the script. Onlyl thing to be aware of is that I'm using the OpenCL version for calibration, so if your change only impacts on the python version then it wont affect the work I'm doing

[2020-11-23 12:28] spoonerf commented on #220
Okay cool - have done a PR to switch things to the 14 day moving average for google mobility for now. This will affect both the R/Python and the OpenCL models, but I don't think will impact the outputs much.

[2020-11-26 09:54] nickmalleson commented on #220
I think this was completed in https://github.com/Urban-Analytics/RAMP-UA/pull/222 . Closing.

[2020-11-26 09:54] #220 closed

[2020-11-26 09:56] nickmalleson commented on #99
I think this is fine now as the code is working, I'll close this

[2020-11-26 09:56] #99 closed

[2020-11-26 11:02] #117 closed

[2020-11-26 11:03] #129 closed

[2020-12-10 14:50] Sparrow0hawk opened #229 "Create a test to check parameters used throughout model run"
After chat in this weeks stand up, we agreed adding a test to confirm the parameters used by the model at different stages would be useful.

[2020-12-17 16:33] spoonerf opened #230 "Change disease status length paramaters in YAML to be equivalent to params.py"
Currently the values aren't equivalent, in the R/Python model the values are converted into the values in the param.py within the model. Probably easier to make them the same for clarity.

[2020-12-17 17:10] nickmalleson opened #231 "Remove hard-coded parameter values"
It's dangerous to have hard-coded values in the `Params` constructor https://github.com/Urban-Analytics/RAMP-UA/blob/4f5545980dc98fa7f967b1a3312f6796eb54327a/microsim/opencl/ramp/params.py#L28

Remove these defaults. If they're needed (e.g. for defining slider ranges in the GUI) then call a separate (factory?) to return a `Params` object.

[2020-12-17 17:14] spoonerf commented on #229
List of parameters used in both the YAML (e.g. model_parameters/default.yml) and in params.py. The way parameters are set is a bit inconsistent with parameters in the two files being slightly different and in some cases meaning different things.

Outlining all the relevant parameters here for clarity. Not including ones that won't affect the output of the model e.g. repetitions, iterations etc.

|

[2020-12-17 17:14] nickmalleson opened #232 "Make a 'sanity check' test to check that the default model returns reasonable results"

[2020-12-17 17:33] nickmalleson commented on #232
Notes about what we might do first (but maybe redundant if we fix https://github.com/Urban-Analytics/RAMP-UA/issues/231 ):

 - [ ] Move 'gam_cases.csv' to 'devon_data' (or anywhere else really; it shouldn't hang in the root directory)
 - [ ] Add a parameter in default.yml (`observations-file`) to specify where that file can be found

Started to make a test, but then gave up. Here's some code I'll

[2020-12-17 17:36] nickmalleson commented on #231
(Maybe a duplicate of https://github.com/Urban-Analytics/RAMP-UA/issues/229 ), probably close this in the new year and work on the other one

[2021-01-14 09:12] Sparrow0hawk commented on #79
Closing this as a duplicate of #73

[2021-01-14 09:12] #79 closed

[2021-01-14 09:13] Sparrow0hawk commented on #118
Closing as this issue has gone stale due to changes to code base

[2021-01-14 09:13] #118 closed

[2021-01-14 09:21] Sparrow0hawk commented on #229
After having a think about how to do this, I haven't been able to come up with a good approach that tests these values during runtime.

I walked through a model run with a debugger, which allowed me to check the state of global variables, and didn't find any defaults overriding settings in the YAML.

But that doesn't check for any default values in function calls which is another area this could c

[2021-01-14 16:07] Sparrow0hawk opened #234 "Resolve rendering of docs on github pages"
The documentation workflow hasn't quite worked as expected creating some empty pages e.g. [Python model submodules](https://urban-analytics.github.io/RAMP-UA/Reference/microsim.html#microsim-quantrampapi2-module).

[2021-01-21 09:31] #234 closed

[2021-01-28 21:16] ciupava commented on #160
hi @nickmalleson and @Sparrow0hawk, I seem to run in the same issue, iw I miss the `glfw` package. It is listed in the `pip list`output in terminal (with `ramp-ua` environment activated) but I can't see it listed in PyCHarm - Preferences - Python interpreter.
No problem at the moment, for what I need now I could just run the model without OpenCL, but still not clear why this is happening, and pote

[2021-01-28 21:42] ciupava commented on #160
Update: Apparently I have the same issues with the package `imgui`. Checking `pip list` output though I can see that both have `pypi` rather than `conda-forge` as the rest of the packages, in the column `channel` (see image below).
Will try to fix that.

<img width="605" alt="screenshot_pypi" src="https://user-images.githubusercontent.com/3450313/106202242-872e5b80-61b1-11eb-87f5-41b590370887.png"

[2021-01-28 21:47] Sparrow0hawk commented on #160
@ciupava so for the opencl model we handle some of their dependencies via pip.

When you ran `conda env create -f environment.yml` to create the `ramp-ua` conda environment what output did you get?

Could you also run `conda info` and paste the output in this thread?

[2021-01-28 21:53] ciupava commented on #160
[code]

[2021-01-28 21:54] ciupava commented on #160
Not sure about the output of the creation of the ramp-ua environment... any hint on what you are trying to look for? I don't remember any error...

[2021-01-28 22:11] Sparrow0hawk commented on #160
Okay so it created the environment as expected?

What steps did you do to trigger the inconsistent environment warning? I'll try and replicate this tomorrow.

[2021-01-29 08:55] ciupava commented on #160
I would think that the environment was created properly, I can see the packages list etc. It seems to me clearly connected with that `pipy` value in the _Channel_ column.
Thanks for this, I will also try to look more into the matter this morning.

My steps are: created a project in PyCharm using the `main.py` and the rest of the folders cloned from the GItHub repo (I have created a copy in another

[2021-01-29 09:01] jabrams23 commented on #160
Hey. You are using a Mac correct? What version of macOS do you have? Big Sur?

[2021-01-29 09:02] ciupava commented on #160
Mac, yes. Version Catalina.

[2021-01-29 09:04] jabrams23 commented on #160
Ah ok. There were some OpenGL problems that cropped up after upgrading to Big Sur but that doesn’t seem to be it.

[2021-01-29 09:08] Sparrow0hawk commented on #160
@ciupava if you open a regular bash terminal navigate to the RAMP-UA directory and do

[code]

Do you get the same error?

[2021-01-29 09:23] ciupava commented on #160
Ok, I tried, I don't get the same error, apparently from terminal it is working (yeeeeh). Which actually makes sense, because the package is missing only in the PyCharm list.
I will try to recreate the interpreter/list of packages in PyCharm now.

[2021-01-29 09:26] Sparrow0hawk commented on #160
@ciupava OK thought this might be the case, it will be to do with how PyCharm is configuring the python environment within PyCharm and potentially defaulting to a different environment. I'm not sure if the docs [here help](https://www.jetbrains.com/help/pycharm/conda-support-creating-conda-virtual-environment.html).

To be honest i'm not a PyCharm user (VSCode is my preferred editor) by maybe @nic

[2021-01-29 09:28] ciupava commented on #160
Yep, thanks and don't worry, I think you did a lot already. The reason why I reopened the issue was that it might be relevant for others or connected with the code, but apparently it's just an editor matter. I will investigate and get back when I have some updates, hopefully.

[2021-01-29 09:57] nickmalleson commented on #160
I think Alex mentioned this, but you need to tell PyCharm which python environment to use (`ramp-ua` in this case). It will default to using something else

[2021-01-29 10:05] ciupava commented on #160
Hi Nick, maybe it wasn't clear from what I wrote before, but I did select the environment `ramp-ua` from PyCharm (PyCharm/Preferences/Interpreter) and in fact all the packages are listed there _but_ the ones that from terminal have value `pypi` under _Channel_ (all the rest have value `conda-forge`, see my screenshot above).

[2021-01-29 10:20] ciupava commented on #160
Found this thread, it seems it might solve the issue: [(https://stackoverflow.com/questions/34520291/pycharm-cannot-find-the-packages-in-virtualenv)]

[2021-01-29 14:32] ciupava commented on #160
Solved by playing around with the interpreter settings in PyCharm, see picture:

<img width="1252" alt="SolvedPyCharm" src="https://user-images.githubusercontent.com/3450313/106287409-a921ef80-623e-11eb-915a-3cf959af746f.png">

I have created a new environment (here you see at as an existing one, because it's already created) from within PyCharm and it solved the issue (I think before I was using

[2021-01-29 16:28] nickmalleson commented on #160
Excellent! Nice one @ciupava

[2021-02-01 11:22] #160 closed

[2021-02-03 13:38] HSalat opened #239 "Documentation for the lockdown scenario(s)"
In particular, how do we retrieve the google data for these?

[2021-02-03 14:25] spoonerf commented on #239
Hi @HSalat I'm off this week but will get on this next week. For now the code for getting and processing the google mobility data is here: https://github.com/Urban-Analytics/RAMP-UA/blob/master/R/py_int/google_mobility_moving_average.R

[2021-02-25 10:32] Sparrow0hawk opened #244 "Update docstrings in QUANT API"
For proper integration with the documentation we need to correct existing docstrings and update them within [QUANT API](https://github.com/Urban-Analytics/RAMP-UA/blob/master/microsim/QUANTRampAPI2.py).

TODO:
- [ ] - Move existing docstrings into functions
- [ ] - standardise docstring format
- [ ] - remove commented out sections

[2021-02-25 11:59] nickmalleson opened #245 "Option to delete the caches"
Add a `--clean-caches` argument to delete all the cache files created by the python and opencl parts

[2021-02-25 14:41] nickmalleson opened #246 "Create 'overview' documentation"
(Instructions from Alex: Basically, you write a file in reStructured text format and add it to the docs/source directory in RAMP-UA. You'd then need to specify the filename in docs/source/index.rst to make sure it builds a link to that file. You can then build it locally to check it looks OK using the instructions in https://github.com/Urban-Analytics/RAMP-UA#documentation)

[2021-02-25 17:12] nickmalleson commented on #245
Actually I decided against this as we are changing the locations of various files and the caches may not be in their current locations for much longer.

[2021-02-25 17:12] #245 closed

[2021-03-01 17:26] nickmalleson commented on #246
Implemented changes, waiting for merge: https://github.com/Urban-Analytics/RAMP-UA/pull/247

[2021-03-01 17:26] #246 closed

[2021-03-02 14:47] nickmalleson opened #248 "Document the calibration work"
Add an overview README to https://github.com/Urban-Analytics/RAMP-UA/tree/master/experiments/calibration

[2021-03-02 15:58] nickmalleson commented on #248
Done, merging along with a load of other changes https://github.com/Urban-Analytics/RAMP-UA/pull/250

[2021-03-02 15:58] #248 closed

[2021-03-03 16:47] HSalat opened #251 "More detailed workplace flows and school flows"
Working on these tasks:
- Finding an updated list of types of interaction per transmission risks (work, retail, schools, home, commuting, other...);
- Creating synthetic workplaces on a finer scale and matching with the population;
- Assigning teachers to schools in addition to students to potentially increase their danger scores (what about parents for primary schools?);
- Finding data (if exists

[2021-03-03 16:54] HSalat opened #252 "Upload national data to Azure"
Should comprise:
- Updated MSOA.shp with risks and initial number of cases in the .dbf (working on it);
- Google mobility save (ready);
- Quant data (ready);
- TU_HSE data (being assembled);
- buildings.json (working on it).

[2021-03-03 17:02] HSalat opened #253 "Code to download the national data and crop it to a chosen region"
Not decided if R or Python yet.

Proposed outputs:
- snapshot.pkz (merged individuals.pkl and activity_location.pkl for OpenCL version);
- seeding.csv (combined content of the current devon_cases_fn.csv and msoa_danger_fn.csv);
- lockdown.csv (warning: NA values for several UK counties in the Google data);
- buildings.json (for the GUI/dashboard).

[2021-03-04 09:37] ciupava opened #254 "Adapt the code to be able to run on a national scale"
The current version of the model runs on the Devon data, we would like to be able to extend its application to other UK regions/areas.

@HSalat maybe we can share here some of our diagrams for the workflow we have in mind.

[2021-03-04 10:58] nickmalleson opened #255 "Clean up non-quant code"
Remove the old code that creates bespoke devon school and retail SIMs.

[2021-03-05 07:19] nickmalleson opened #257 "Document data files in developers guide"
It would be good if we could expand on what the raw source data files are. It may be more appropriate to create a data sources section within this Developer guide part of the docs to do that.

_Originally posted by @Sparrow0hawk in https://github.com/Urban-Analytics/RAMP-UA/pull/247#discussion_r587342306_

[2021-03-05 07:23] nickmalleson opened #258 "Link to source files in developer guide documentation"
Probably worth linking directly to the API documentation for this function

_Originally posted by @Sparrow0hawk in https://github.com/Urban-Analytics/RAMP-UA/pull/247#discussion_r587344643_

[2021-03-05 07:23] nickmalleson commented on #258
@Sparrow0hawk can you tell me how to do this? Sorry I couldn't work it out (fail!). I can than go through and add references in the text. THere are a few places where it would be useful

[2021-03-05 07:31] nickmalleson opened #259 "(minor) Check new documentation index and rename 'programmers guide' to 'developers guide'"
I made some changes in https://github.com/Urban-Analytics/RAMP-UA/pull/247 recently but may have broken the table of contents in https://github.com/Urban-Analytics/RAMP-UA/blob/master/docs/source/index.rst . Also rename 'developers guide'

[2021-03-05 15:33] ciupava commented on #255
Hi @nickmalleson, regarding this issue, it is maybe worth mentioning my comment to @spoonerf's question (which was wrong there but can be pertinent here).
https://github.com/Urban-Analytics/RAMP-UA/pull/241#issuecomment-778125298
In my case, I was trying to play around with the `quant_object` variable somewhere else, while running the tests, but setting it to `False` would enter in these two `If`

[2021-03-06 07:45] nickmalleson commented on #259
Done in https://github.com/Urban-Analytics/RAMP-UA/pull/260

[2021-03-06 07:45] #259 closed

[2021-03-06 08:08] nickmalleson commented on #258
@Sparrow0hawk don't worry I managed to figure most of it out :-) https://www.sphinx-doc.org/en/1.5/domains.html#python-roles .

[2021-03-06 08:12] nickmalleson commented on #258
done in https://github.com/Urban-Analytics/RAMP-UA/pull/261

[2021-03-06 08:12] #258 closed

[2021-03-08 17:08] nickmalleson commented on #255
Thanks @ciupava , I think I found the places that you mention. This should be OK now because there are no checks to see if the `quant_data` object is `False`, now we always assume that it is a pointer to a `QuantRampAPI` object.

I think I have gotten this to work and am just ironing out some of the tests. In the meantime some things to note:
 - The directory `devon_data/QUANT_RAMP` is hard-coded

[2021-03-09 08:43] nickmalleson opened #262 "Test shops and schools allocation"
The [test_population_initialisation.py](https://github.com/Urban-Analytics/RAMP-UA/blob/master/tests/test_population_initialisation.py) no longer checks that individuals are correctly assigned to the appropriate schools and shops. Previosly this was easy as individuals' assignments were read directly from a bespoke Devon file.

[2021-03-09 09:08] nickmalleson commented on #255
Being dealt with in https://github.com/Urban-Analytics/RAMP-UA/pull/263

[2021-03-09 09:08] #255 closed

[2021-03-09 09:25] ciupava commented on #254
I am the person primarily dealing with this issue.
A first step is to reorganise part of the folders structures so that for examples things like the `output` folder is not within the `input` folder (currently `devon_data`). Possible alternatives for the folders structure are visualised (diagrams) and discussed elsewhere.
Another step towards a generalisation of the model is to soft-code parts that

[2021-03-09 13:04] ciupava opened #264 "OpenCL model doesn't save (a default) output when in GUI mode"
Probably this is a wanted behaviour from the model, but I wanted to double check this with you, plus maybe ask the reason for it and if we shall modify it.
What I refer to is the lines of code
https://github.com/Urban-Analytics/RAMP-UA/blob/445649fa018e1348e423e3945b74054864752f97/microsim/opencl/ramp/run.py#L28-L32
within `microsim/opencl/ramp/run.py`.
It makes sense to me that if you run the mod

[2021-03-09 13:30] ciupava commented on #254
Note: the hard-coding and params setting was already mentioned in #229 and #231.

[2021-03-09 13:35] nickmalleson commented on #264
Sorry @ciupava I'm slightly confused, what did you mean by 'though if one only runs the model in gui doesn't get any default output' could you rephrase slightly? I'm not sure what the specific question is

[2021-03-09 13:45] ciupava commented on #264
Hi @nickmalleson!
Fair enough, I will try to reformulate:
the function `store_summary_data` (that saves the outputs, see few line below in the file) runs only if `use-gui` is set to `False` (see the `if` constructor at line 28).

[2021-03-09 13:55] nickmalleson commented on #264
Ah OK thanks @ciupava . I'm not sure why that would be. I don't see any harm in removing that conditional and seeing what happens. If it breaks then we can ask Rory about it.

[2021-03-09 14:04] ciupava commented on #264
My guess is that the reason for this is that you keep the option of saving the output from the dashboard directly (there is in fact an option there), so maybe the output would differ from the default one if you change some parameters when in the dashboard.
The `else` in the conditional runs also the function `run_headless` and that would still be needed if running without gui, so removing the cond

[2021-03-11 14:37] nickmalleson commented on #257
I'm going to add this to backlog until the reorganisation has happened

[2021-03-11 14:40] nickmalleson opened #267 "Add dummy quant data to the testing framework"
Following on from removal of the quant code (https://github.com/Urban-Analytics/RAMP-UA/issues/255) it turns out we need to include some dummy quant data in `tests/dummy_data`. It will also mean that it is also necessary to specify a different directory for the quant API to look for its data (shouldn't be a problem)

Will update branch [nickmalleson-issue-255](https://github.com/Urban-Analytics/RA

[2021-03-11 15:07] Sparrow0hawk opened #268 "QUANTRampAPI2.py v quant_api.py"
I'm nit picking through things on documentation and have noticed we have both [QUANTRampAPI2.py](https://github.com/Urban-Analytics/RAMP-UA/blob/master/microsim/QUANTRampAPI2.py) and [quant_api.py](https://github.com/Urban-Analytics/RAMP-UA/blob/master/microsim/quant_api.py).

They both lack tests but also seem broadly to do similar things with `quant_api.py` simply being a more standard python mo

[2021-03-11 15:09] ciupava commented on #268
I don't think that QuantRampAPI2 is actually used.

[2021-03-12 09:30] nickmalleson commented on #268
Indeed, `QuantRampAPI2` is a hangover from some old code that Natalie was writing. I have deleted it as part of issue https://github.com/Urban-Analytics/RAMP-UA/issues/267 (in commit d769ee1) . We should write tests for quant_api.py, this is the subject of https://github.com/Urban-Analytics/RAMP-UA/issues/262

[2021-03-12 09:30] #268 closed

[2021-03-18 12:03] nickmalleson opened #269 "Add progress bar to devon data download"

[2021-03-18 12:16] nickmalleson commented on #269
Merging in https://github.com/Urban-Analytics/RAMP-UA/pull/270

[2021-03-18 12:23] ciupava opened #271 "Timing of the caching"
Hi all, as by @nickmalleson's suggestion, I am opening this issue to check if/how it is possible to improve the speed of the population caching at the beginning of the model.
I am referring to the lines
https://github.com/Urban-Analytics/RAMP-UA/blob/master/microsim/main.py#L192-L199
that generate the cache files (`individuals.pkl` and `activity_locations.pkl`), which are the inputs of either the

[2021-03-18 12:25] ciupava commented on #271
Note: when running the model on another region (West Yorkshire) that has almost 3 times the number of MSOAs of Devon, the caching phase took 5+ hours.

[2021-03-18 13:58] #269 closed

[2021-03-18 14:07] Sparrow0hawk commented on #244
[QUANT API](https://github.com/Urban-Analytics/RAMP-UA/blob/master/microsim/QUANTRampAPI2.py) is actual superseded by [quant_api.py](https://github.com/Urban-Analytics/RAMP-UA/blob/master/microsim/quant_api.py) so docstrings will be updated there.

[2021-03-18 14:08] Sparrow0hawk commented on #244
Work is being addressed on this in the [quant_api-tidy](https://github.com/Urban-Analytics/RAMP-UA/tree/quant_api-tidy) branch

[2021-03-25 17:50] nickmalleson commented on #267
Have done this now, it is the topic of PR https://github.com/Urban-Analytics/RAMP-UA/pull/263

[2021-03-25 17:50] #267 closed

[2021-03-26 15:37] Sparrow0hawk opened #273 "Does Python/R model automatically create outputs directory by default?"
## Description:
Running the python/R model without a `devon_data/outputs` directory leads to an error.

## Traceback:
[code]

## Diagnosis:

This suggests to me that the Python/R model doesn't create the `outputs` directory by default (I note the OpenCL model does, and that the downloaded devon_data erroneously contains an outputs directory which masks this problem).

I think this arises from usin

[2021-04-15 08:32] Sparrow0hawk commented on #244
Resolved in #272

[2021-04-15 08:32] #244 closed

[2021-04-15 08:51] Sparrow0hawk commented on #78
Closing this as quite old and previously resolved.

[2021-04-15 08:51] #78 closed

[2021-04-29 10:57] nickmalleson opened #279 "Notes about current covid data"
Document current status of covid data availability, e.g. what APIs are available, what the different pillar data are, how this relates to original seeding, what it might mean for new seeding, etc.

I have created an initial document on the `data_notes` branch:

https://github.com/Urban-Analytics/RAMP-UA/blob/data_notes/experiments/covid_data_notes.md

@HSalat @spoonerf please could you contribute

[2021-04-29 15:06] HSalat commented on #279
The comment I made together with my edits is a bit hidden, so I'll repeat it here.

Hi!

I've added what I propose to aim for and what we would need to achieve that aim. It's quite the same as what's already been done for Devon in fact.

Essentially, we only need 3 things:
- Official data about reported cases and/or deaths
- A method to estimate true cases from above data*
- A method to match true

[2021-04-30 11:20] spoonerf commented on #279
I wonder if we could estimate a regional infection fatality rate using age and health data?

We are already using the table below in the model to estimate mortality rate based on a persons age and BMI. We could reasonably estimate a regional IFR based on the age and health of the population.
![](https://github.com/Urban-Analytics/RAMP-UA/blob/ifr_image/Screenshot%202021-04-30%20at%2012.11.51.png?r

[2021-04-30 11:46] HSalat commented on #279
It does not compare well to the reported cases data, which is available at MSOA level and has a more controlled lag.

Although, what could be done is estimating the number of true cases at LAD level the way you suggest and then sort them between MSOAs using the reported case data instead of the risk data. But it would still be simpler to find directly a reported to true coef. if such a thing exist

[2021-05-07 15:40] spoonerf opened #281 "Redundancies in the R package"
Just making note of this while it is still current rather than expecting anyone to do anything about it!

Some redundancies in [the R disease model](https://github.com/Urban-Analytics/RAMP-UA/blob/master/R/py_int/covid_run.R):

- [ ] This has no real use: `  if(set_seed == TRUE) {

    seed <- rep
    set.seed(seed)
  } else {
    seed <- NULL
  }`
- [ ]  The `rep`, `risk_cap`, `rank_assign` and `

[2021-05-11 08:29] nickmalleson opened #282 "Experiment with data assimilation"
Use Approximate Bayesian Computation to optimise the model at runtime ('data assimilation').

Builds on ABC calibration work: https://github.com/Urban-Analytics/RAMP-UA/tree/master/experiments/calibration

Currently being implemented in branch [data_assimilation](https://github.com/Urban-Analytics/RAMP-UA/tree/data_assimilation/experiments/calibration) (mostly file [ramp_da.ipynb](https://github.c

[2021-05-14 09:36] Sparrow0hawk opened #287 "Update developer documentation to specify pushing to repo must be done from within the conda environment"
Occasionally people have had problems pushing their commits to the repo because the repo is configured with `git-lfs` but they are doing `git push` from outside the `ramp-ua` conda environment.

We don't cover this requirement in any of our documentation so i'll look to clarify this more explicitly in our documentation.

[2021-05-14 09:39] ciupava commented on #287
Great, thanks!

[2021-05-14 09:48] ciupava commented on #287
If it helps clarifying, this was the error message I was getting when trying to push to the remote repository:
`git push
This repository is configured for Git LFS but 'git-lfs' was not found on your path. If you no longer wish to use Git LFS, remove this hook by deleting .git/hooks/pre-push.
error: failed to push some refs to 'https://github.com/Urban-Analytics/RAMP-UA/'`
I think that @mfbenitezp

[2021-05-17 08:04] nickmalleson opened #288 "OpenCL: error: linker command failed with exit code 1"
I was wondering if someone has any ideas about the following error. I've been trying to help @mfbenitezp with a problem he's having on a branch he's working on (https://github.com/Urban-Analytics/RAMP-UA/tree/master_FB) (adding nightclubs) but I think this probably nothing to do with @mfbenitezp 's modifications.

I can run the pyhton version OK, but if I run the opencl version I get this error ea

[2021-05-17 13:20] rory-improbable commented on #288
Hey @nickmalleson, I'm not sure what's causing this but I can definitley have a look into it. Just to be clear is this just an issue on your machine, or has anyone else experienced this?

[2021-05-17 13:23] ciupava commented on #288
I would also like to give it a try.

[2021-05-17 14:43] mfbenitezp commented on #288
Another issue I haven't been able to identify and its been preventing me to run the OpenCL version is this one
`/Users/fbenitez/opt/miniconda3/envs/ramp-ua/lib/python3.7/site-packages/pyopencl/cache.py:290: UserWarning: PyOpenCL encountered an invalid info file for cache key 5e8937953ec3411cca9adc114d86a988
  % cache_key)`

The exceptions shows up in along the `line 72 in the simulator.py` where t

[2021-05-17 15:16] nickmalleson commented on #288
Thanks @rory-improbable , so far I have been the only one able to produce this error, but I think @ciupava is trying? I'm not sure what the specific issue might be with my machine.

[2021-05-17 17:51] mfbenitezp commented on #288
Hi @nickmalleson @rory-improbable @ciupava  I was able to run the model, using OC and the GUI. So far using the Master branch, which hasn't been possible for me till this point. What I did was reinstalling absolutely everything. I had Miniconda (don't know if that had an effect). So using `r m -rf ~/miniconda` `r m -rf ~/miniconda` `~/.condarc`, and also manually removing some temp files. Then I i

[2021-05-18 14:58] nickmalleson opened #289 "OpenCL tests failing (probably a seeding issue)"
Sorry @rory-improbable , I've come up against another bug. But I think this is an easy one to resolve. I am working on a branch that @spoonerf was using to implement the experiments that she ran for the paper. The only test that fails is `test_seed_initial_infections_some_low_risk()`.

The offending line is:

https://github.com/Urban-Analytics/RAMP-UA/blob/fff3b9247d35f494817a75b6e3da762b20c9db17/

[2021-05-20 06:52] nickmalleson commented on #288
Quick update on this linker error. I've not been able to reproduce it on my (mac) laptop, and it may well disappear in a later OS update, or if I re-installed OpenCL. It might be interesting to try to resolve if we had more time, but I don't think it's something that it's worth @rory-improbable prioritising so I'm going to close this for now.

[2021-05-20 06:52] #288 closed

[2021-05-20 11:29] nickmalleson opened #290 "Add `pygam` and `pyabc` to environment"
They are required to run some of the calibration and data assimilation routines

[2021-05-20 11:35] nickmalleson commented on #290
@Sparrow0hawk the `pyabc` library seems to only be avaialble using `pip`, not `anaconda`.

E.g. the [docs](https://pyabc.readthedocs.io/en/latest/installation.html) recommend installing with

[code]

Do you know how to add this to the environment file?

I have alread added `pygam` to the file on the [nickmalleson-issue-290](https://github.com/Urban-Analytics/RAMP-UA/tree/nickmalleson-issue-290) br

[2021-05-20 12:22] Sparrow0hawk commented on #290
Do we think these packages are essential for the model to run? I'm sort of a mind that if these packages are not necessary but rather optional to help perform calibration/experiments it would be better to not include them explicitly in the environment but rather to include documentation about installing those packages in the notebook where you're doing calibration experiments.

What do you think a

[2021-05-20 13:18] nickmalleson commented on #290
Actually yes I agree with you. Better to stop the environment becoming too bloated.

[2021-05-20 13:18] #290 closed

[2021-06-02 12:55] nickmalleson opened #291 "Population caches not being read properly"
Population caches (`activity_locations.pkl` and `individuals.pkl`) are always re-read regardless of whether they exist or not

[2021-06-02 13:02] nickmalleson commented on #291
There may have been no problem after all, but I added an `os.path.join` here anyway as I think it's more reliable and it seems to work for me now

https://github.com/Urban-Analytics/RAMP-UA/blob/e739543102f58e22cfd4492395d18a5360d5b8d3/microsim/main.py#L183

[2021-06-02 13:37] nickmalleson opened #293 "Improve efficiency of the danger calculations"

[2021-06-02 13:43] nickmalleson commented on #293
.. actually I did some profiling and this isn't the best place to look for speedups

[2021-06-02 13:43] #293 closed

[2021-06-02 19:34] rory-improbable commented on #289
PR for fix here: https://github.com/Urban-Analytics/RAMP-UA/pull/294

[2021-06-03 08:26] Sparrow0hawk commented on #291
Hi @nickmalleson, can you provide a little bit more detail on this issue? The change to using `os.path.join` is an absolutely sensible one but i'm not quite sure whether that will solve an underlying issue you've encountered.

[2021-06-03 11:08] nickmalleson commented on #291
Sorry for the confusion @Sparrow0hawk , I wasn't able to reproduce the original issue when I can to fix it. Basically at some point there was a line like `cache_dir=os.path.join(data_dir, "/caches/")`; the slashes on `caches` caused the path to be set to ROOT/caches. But when I came to fix it the line had been changed to string concatenation (something like `cache_dir=data_dir +"/caches/")`) which

[2021-06-10 11:40] #291 closed

[2021-06-10 11:41] #289 closed

[2021-06-10 11:42] nickmalleson opened #295 "Consoldiate and document 'gam_cases'"
There are various 'gam_cases.csv' / 'gam_cases_new.csv' files in the repo. Consolidate these so that there is only a single one, and delete the 'old' onces (so 'new' files become normal 'gam_cases')

[2021-06-10 11:44] nickmalleson commented on #282
Ongoing in the https://github.com/Urban-Analytics/RAMP-UA/tree/data_assimilation branch

[2021-08-08 10:44] spoonerf opened #297 "google_mobility_lockdown_daily_14_day_moving_average_week_earlier.csv missing from devon_data"
google_mobility_lockdown_daily_14_day_moving_average_week_earlier.csv is missing from devon_data, but it is needed to run the [jupyter notebook scenario for the paper](https://github.com/Urban-Analytics/RAMP-UA/blob/master/experiments/calibration/week_earlier_2021.ipynb).

Not sure how best to add data to the archive so have attached it here.
[google_mobility_lockdown_daily_14_day_moving_average_w

[2021-08-13 00:23] #252 closed

[2021-12-16 15:08] dabreegster opened #301 "conda is slow"
Hi, I've just joined the Urban Analytics team at ATI! I'm ramping up (all puns intentional) on this codebase (the `Ecotwins-withCommuting` branch particularly) and hope to make some contributions.

To start with, I'm having an awfully hard time with the initial `conda env create -f environment.yml` setup -- its been stuck in SAT-solving the dependencies for about 3 hours now, on a reasonably power

[2022-01-04 09:31] nickmalleson commented on #301
Welcome @dabreegster ! Yes I think that would be welcome, you're not alone in having trouble setting up the environment initially with conda. I'm also keen to test whether it will work with docker, but haven't gotten round to it (my main concern is whether the opencl parts of the code will be able to access the hardware properly).

[2022-01-04 10:01] dabreegster opened #303 "quant_api.py throws away work"
I just got a many orders-of-magnitude speedup of the QUANT table lookups by removing some code that has no effect:
https://github.com/dabreegster/RAMP-UA/commit/62798a5877cf729f9bcbe002d438b252708bfda4

Two questions...

1) What is the `URN` lookup at https://github.com/Urban-Analytics/RAMP-UA/blob/04b7473aed441080ee10b6f68eb8b9135dac6879/microsim/quant_api.py#L97 supposed to do? Was this for debu

[2022-01-04 10:33] nickmalleson commented on #303
Hi Richard, cc Dustin (via github),

Happy new year! I hope this finds you well.

Dustin has recently started working on the RAMP project and is pouring over the existing code. Richard, who works at CASA, UCL, wrote the quant parts of the code.

Dustin has found a couple of possible speed improvements to the quant code and has some questions. Richard please could you have a look at his questions b

[2022-01-04 11:07] dabreegster commented on #303
Thanks for the fast response! (I assume Richard is subscribed to the conversation here, or being forwarded emails?)

I think the URN is used earlier to set up activity locations, but there's no need to do this mapping in the middle of the QUANT table lookup. I would guess it was put in there originally for debugging, but never taken out, and has been slowing down that code for a while. :)

That's

[2022-01-04 16:44] dabreegster commented on #301
Good news, no problems at all! I just successfully ran the OpenCL model with my Intel GPU using `poetry run python main_model.py -p model_parameters/default.yml`.

I'll continue with cutting over Ecotwins to poetry.

[2022-01-05 07:55] nickmalleson commented on #303
Hi both,

Am forwarding this to Richard who isn't on the github repo.

One question I can answer: Improbable are a software dev company who wrote the opencl version of the model (initialised the same way as the python version but then delegates processing to opencl). The source is in microsim/opencl/ramp I think (Sorry, on phone so can't link directly).

Nick

--
Sent from a mobile, sorry about th

[2022-01-08 18:04] cheginit commented on #301
I just stumbled upon this issue and thought I share my 2 cents! I've had great success with using `mamba`. It's a drop-in replacement for `conda` and is very fast! I use [Mambaforge](https://github.com/conda-forge/miniforge) which install packages from `conda-forge` by default so no more `-c conda-forge --strict-channel-priority`!

[2022-01-08 19:24] dabreegster commented on #301
Thanks for the pointer! It certainly seems like a strictly better option than `conda`, but unless it produces lockfiles by default, there's still the issue of dependencies changing for different people based on when they first create the environment. Any reason to prefer conda/mamba over poetry, which doesn't appear to have any performance problems at all and creates lockfiles?

Another reason to

[2022-01-08 19:50] cheginit commented on #301
The main reason that I use `conda` is the need for some hard-to-install-from-`pip` packages such as `rasterio`. Many of the geospatial packages that I use depend on `gdal` which its installation is nightmare when it comes to cross-platform development. All packages on `conda-forge` are pre-compiled so installing them is straight forward from a UX perspective. I agree that `poetry` provides automat

[2022-03-09 09:58] nickmalleson opened #304 "Model performance varies a bit each time the script is run"
A bit of variation in model outcomes is inevitable, but we need to decide whether the variation we are seeing is acceptable.

[2022-03-09 10:00] nickmalleson opened #305 "2. Model performance seems to get worse moving from the first window to the second window"
Diagram: 2 populations in each window (left) and with 5 pops in each window (right)

![image008](https://user-images.githubusercontent.com/6339379/157418441-21ded201-7d34-4237-bc4d-458df4d09e09.png)
)

[2022-03-09 10:01] nickmalleson commented on #305
I'm working on this now. I'm running a slightly edited version of [Molly's test script](https://github.com/Urban-Analytics/RAMP-UA/blob/Mollys_DA-NM/experiments/calibration/RunModelWithDynamicCalibration-NM.ipynb) to see:

1. What happens with 10 populations (does it still get worse from the first window to the next)
2. What the posteriors look like (_why_ is it getting better/worse)

[2022-03-09 10:03] nickmalleson opened #306 "3. Distance function results seem to be backwards"
Plotting the results for each particle within the dynamic calibration windows, the distances seem to be backwards. The green particle is the one with the greatest distance, and for the other particles, the lighter the colour the greater the distance. This implies the particles with the greatest distances are closest to the observations, which is the opposite of what we’d expect.

![image010](https

[2022-03-09 10:04] nickmalleson opened #307 "Parameter values not stabilising"
Running the model with dynamic calibration the parameter values don’t seem to be very stable. For instance, plotting the parameter values from each population in each window, we can see that the values within window 1 (running the model for 14 days with dynamic calibration), are at times quite different to window 2 (running for 28 days with DC). Also within each window, the values for each populat

[2022-03-09 10:07] nickmalleson opened #308 "5. How many times negative parameter values are being selected and need to be resampled"

[2022-03-09 10:10] nickmalleson commented on #308
I'm testing this now. I am printint out the total number of samples taken each time the `rvs_single` function is called to see whether it regularly needs to resample a lot https://github.com/Urban-Analytics/RAMP-UA/blob/6cc11b2ae046a68d09089aae520a9965896e29e2/experiments/arbitrary_distribution.py#L120

[2022-03-09 10:32] nickmalleson commented on #308
I think this issue is probably OK. Mostly the resampling need to happen rarely if at all (but if there is other weirrd behaviour, lke in https://github.com/Urban-Analytics/RAMP-UA/issues/305, then we should come back to this

[code]

[2022-03-22 09:39] nickmalleson commented on #305
Fixed now problem with counting number of new cases was solved

[2022-03-22 09:39] #305 closed

[2022-03-22 09:39] nickmalleson commented on #306
Fixed now problem with counting number of new cases was solve
![image005](https://user-images.githubusercontent.com/6339379/159451420-ede7575c-a631-4169-9f91-97679a28054b.png)
d

[2022-03-22 09:39] #306 closed

[2022-03-22 09:40] #308 closed

[2022-04-21 08:40] dabreegster commented on #301
Cleaning up this old issue. For future reference, we got poetry working just fine for this project: https://github.com/dabreegster/uatk-aspics/blob/main/pyproject.toml

[2022-04-21 08:40] #301 closed

[2022-04-21 08:41] dabreegster commented on #303
Cleaning up this old issue. If anybody using the main branch here needs to speed up their QUANT reader, just remove the dead code mentioned above

[2022-04-21 08:41] #303 closed

[2022-04-21 08:50] nickmalleson opened #309 "Minor issues with RunModelWithDynamicCalibration"
Hi Molly, I’ve been working through `RunModelWithDynamicCalibration.ipynb`. The plots are fantastic, I can't wait to see what they look like in full.
Here are a couple of minor observations (the second has prevented me from running the notebook)

 - [ ] think you may have accidentally deleted some required notebooks. Like `abc-2-NewObs.ipynb`, and other `abc-*.ipynb` ones. Maybe a bit too enthusia